<div th:fragment="footer">
  <div class="footer">
      <div class="footer-content">
          <div class="customer-center">
              <h3>고객 센터</h3>
              <p>10:00 - 17:00</p>
              <button>문의하기</button>
          </div>
          <div class="footer-links">
              <div>
                  <h4>공지사항</h4>
                  <ul>
                      <li>
                        <a th:href= "@{service}">서비스 안내</a>
                    </li>
                      <li>
                        <a th:href= "@{url}">문의 및 지원</a>
                    </li>
                  </ul>
              </div>
              <div>
                  <h4>고객센터의 선택</h4>
                  <ul>
                      <li>
                        고객 지원 문의
                      </li>
                      <li>
                        제품 관리 설정
                      </li>
                  </ul>
              </div>
          </div>
          <div class="footer-info">
              <p>카피라이트 FITORY<br>서울시 강남구 서초대로 10, 3층<br>고객센터: 1800-0000</p>
          </div>
      </div>
  </div>
</div>
