<div th:fragment="header">
  <!-- 헤더 영역 시작 -->
  <header class="header">
    <!-- 메뉴 아이콘 클릭 시 사이드 메뉴를 열기 위한 아이콘 -->
    <div class="menu-icon" onclick="toggleMenu()">
      <i class="fa-solid fa-bars" style="font-size: 33px;"></i>
    </div>
    <!-- 로고 영역 -->
    <div class="logo-container">
      <a th:href="@{/main}" class="logo-link">
        <h1 class="logo">FITORY</h1>
      </a>
    </div>
    <!-- 검색 바와 네비게이션 메뉴 영역 -->
    <div class="search-nav-container">
      <!-- 네비게이션 메뉴 -->
      <nav>
        <!-- 로그인 관련 항목 -->
        <div class="nav-item-wrapper">
          <a href="/login" class="nav-item">LogIn</a>
        </div>
        <!-- 장바구니 관련 항목 -->
        <div class="nav-item-wrapper">
          <a href="/cart" class="nav-item">Cart</a>
        </div>
      </nav>
      <!-- 검색 바 영역 -->
      <div class="search-bar">
        <input type="text" placeholder="Search" class="search-input"
          oninput="this.nextElementSibling.style.display = this.value ? 'block' : 'none';">
        <button class="clear-button"
          onclick="document.querySelector('.search-input').value = ''; this.style.display = 'none';"
          style="display: none;">X</button>
        <button class="search-button"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </header>
  <!-- 사이드 메뉴 영역 -->
  <div id="side-menu" class="side-menu">
    <!-- 사이드 메뉴 닫기 아이콘 -->
    <div class="close-icon" onclick="toggleMenu()">
      <i class="fa-solid fa-bars" style="font-size: 33px;"></i>
    </div>
    <!-- 사이드 메뉴 항목 -->
    <nav>
      <div class="nav-item-wrapper">
        <a href="login" class="nav-item">LogIn</a>
      </div>
      <div class="nav-item-wrapper">
        <a href="teacher" class="nav-item">TEACHER</a>
      </div>
      <div class="nav-item-wrapper">
        <a href="home-training" class="nav-item">Home Training</a>
      </div>
      <div class="nav-item-wrapper">
        <a href="home-gym" class="nav-item">Home Gym</a>
      </div>
      <div class="nav-item-wrapper">
        <a href="/buy" class="nav-item">BUY</a>
      </div>
      <div class="nav-item-wrapper">
        <a href="/cart" class="nav-item">CART</a>
      </div>
      <div class="nav-item-wrapper">
        <a href="/customer-service" class="nav-item">고객센터</a>
      </div>
    </nav>
  </div>
</div>