<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Fitory</title>
	<link rel="stylesheet" href="/css/common/main.css"> <!-- CSS 파일 연결 -->
</head>

<body>
	<!-- common 조각 삽입(header 포함) -->
	<header th:replace="~{common/common}"></header>

	<main class="main-content">

		<!-- NEW TRAINER PROFILE 섹션 -->
		<section class="class-section fullscreen-section" id="trainer-section">
			<div class="section-header">
				<h2>NEW TRAINER PROFILE</h2>
				<a href="/trainer/trainer" class="more-link">더보기</a>
			</div>
			<hr class="section-divider">
			<div class="slider-container">
				<button class="slider-btn left-btn">&lt;</button>
				<div class="class-list">

					<div class="class-item" th:each="trainer : ${trainerList}" th:object="${trainer}">
						<img th:src="*{trainerImgMain}" alt="Teacher Profile" class="trainer-image" th:data-id="*{trainerNo}">
						<p th:text="*{trainerNickname}">신규 트레이너 이름</p>
					</div>

				</div>
				<button class="slider-btn right-btn">&gt;</button>
			</div>
		</section>

		<!-- NEW Home Training 섹션 -->
		<section class="class-section fullscreen-section" id="training-section">
			<div class="section-header">
				<h2>NEW Home Training</h2>
				<a href="/board/2" class="more-link">더보기</a>
			</div>
			<hr class="section-divider">
			<div class="slider-container">
				<button class="slider-btn left-btn">&lt;</button>
				<div class="class-list">

					<a class="class-item" 
						th:each="board : ${homeTrainingList}" 
						th:object="${board}"
						th:href="@{/board/3/{boardNo}(boardNo=*{boardNo})}">
						<img th:src="*{thumbnail}" alt="Training Image">
						<p th:text="*{trainerNickname} + ' | ' + *{title}">등운동은 역시 나임</p>
					</a>

				</div>
				<button class="slider-btn right-btn">&gt;</button>
		</section>

		<!-- NEW Home Gym 섹션 -->
		<section class="class-section fullscreen-section" id="gym-section">
			<div class="section-header">
				<h2>NEW Home Gym</h2>
				<a href="/board/3" class="more-link">더보기</a>
			</div>
			<hr class="section-divider">
			<div class="slider-container">
				<button class="slider-btn left-btn">&lt;</button>
				<div class="class-list">

					<a 
						class="class-item" 
						th:each="board : ${homeGymList}" 
						th:object="${board}"
						th:href="@{/board/2/{boardNo}(boardNo=*{boardNo})}">
						<img th:src="*{thumbnail}" alt="Training Image">
						<p th:text="*{trainerNickname} + ' | ' + *{title}">등운동은 역시 나임</p>
					</a>

				</div>
				<button class="slider-btn right-btn">&gt;</button>
		</section>
	</main>


	<!-- 푸터 조각 삽입 -->
	<footer th:replace="~{common/footer :: footer}"></footer>

	<script src="/js/mainPage.js"></script>

	<script th:if="${message}">
		alert("아이디 혹은 패스워드가 일치하지 않습니다.");
	</script>
</body>

</html>