<style>
  /* 사이드메뉴 */
  @font-face {
    font-family: 'MaruBuriSemiBold';
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
  }

  .side-page {
    position: absolute;
    top: 200px;
    font-family: "MaruBuriSemiBold", Helvetica;
    font-weight: 300;
    position: absolute;
    left: 10%;
    text-shadow: 0px 4px 4px #00000040;
    color: #ffffff99;
    font-size: 100%;
    letter-spacing: 0;
    line-height: normal;
    width: 180px;
  }

  .side-1 {
    position: absolute;
    top: 250px;
    font-family: "MaruBuriSemiBold", Helvetica;
    font-weight: 400;
    left: 10%;
    text-shadow: 0px 4px 4px #00000040;
    color: #ffffff99;
    font-size: 100%;
    letter-spacing: 0;
    line-height: normal;
    width: 180px;
  }

  .side-2 {
    position: absolute;
    top: 300px;
    font-family: "MaruBuriSemiBold", Helvetica;
    font-weight: 400;
    left: 10%;
    text-shadow: 0px 4px 4px #00000040;
    color: #ffffff99;
    font-size: 100%;
    letter-spacing: 0;
    line-height: normal;
    width: 180px;
  }

  .side-3 {
    position: absolute;
    top: 350px;
    font-family: "MaruBuriSemiBold", Helvetica;
    font-weight: 300;
    left: 10%;
    text-shadow: 0px 4px 4px #00000040;
    color: #ffffff99;
    font-size: 100%;
    letter-spacing: 0;
    line-height: normal;
    width: 180px;
  }

  .side-4 {
    position: absolute;
    top: 400px;
    font-family: "MaruBuriSemiBold", Helvetica;
    font-weight: 400;
    left: 10%;
    text-shadow: 0px 4px 4px #00000040;
    color: #ffffff99;
    font-size: 100%;
    letter-spacing: 0;
    line-height: normal;
    width: 180px;
  }

  .side-5 {
    position: absolute;
    top: 450px;
    font-family: "MaruBuriSemiBold", Helvetica;
    font-weight: 400;
    left: 10%;
    text-shadow: 0px 4px 4px #00000040;
    color: #ffffff99;
    font-size: 100%;
    letter-spacing: 0;
    line-height: normal;
    width: 180px;
  }

  .side-6 {
    position: absolute;
    top: 450px;
    font-family: "MaruBuriSemiBold", Helvetica;
    font-weight: 400;
    left: 10%;
    text-shadow: 0px 4px 4px #00000040;
    color: #ffffff99;
    font-size: 100%;
    letter-spacing: 0;
    line-height: normal;
    width: 180px;
  }

  .header {
    position: fixed;
    width: 100%;
    height: 120px;
    left: 0;
  }

  .side-bar {
    position: fixed;
    list-style: flex;
    background-color: #bfbfbf;
    width: 15%;
    height: 100%;
    top: 0px;
    left: 0;
  }
</style>
<section class="side-bar">
  <ul>
    <li>
      <a href="/myPage/memberMyPage" class="side-page">My Page</a>
    </li>
    <li>
      <a href="#" class="side-1">내 활동 내역</a>
    </li>
    <li>
      <a href="#" class="side-2">강의 목록</a>
    </li>
    <li>
      <a href="#" class="side-3">CART</a>
    </li>
    <li>
      <a href="#" class="side-4">자주 묻는 질문</a>
    </li>
    <li>
      <a href="#" class="side-5">1:1 문의</a>
    </li>
    <li>
      <a href="#" class="side-6">회원 탈퇴</a>
    </li>
  </ul>
</section>