<div th:fragment="header">
  <!-- 헤더 영역 시작 -->
  <header class="header-container">
    <!-- 메뉴 아이콘 클릭 시 사이드 메뉴를 열기 위한 아이콘 -->
    <div class="header-menu-icon" onclick="toggleMenu()">
      <i class="fa-solid fa-bars" style="font-size: 33px;"></i>
    </div>
    <!-- 로고 영역 -->
    <div class="header-logo-container">
      <a th:href="@{/main}" class="header-logo-link">
        <h1 class="header-logo-text">강사 로그인</h1>
      </a>
    </div>
    <!-- 검색 바와 네비게이션 메뉴 영역 -->
    <div class="header-search-nav-container">
      <!-- 네비게이션 메뉴 -->
      <nav>
        <!-- 마이페이지 관련 항목 -->
        <div class="header-nav-item-wrapper">
          <a href="/trainer/checkPw" class="header-nav-item">MyPage</a>
        </div>
        <!-- 로그아웃 관련 항목 -->
        <div class="header-nav-item-wrapper">
          <a href="/trainer/logout" class="header-nav-item">Logout</a>
        </div>
      </nav>
      <!-- 검색 바 영역 -->
      <div class="header-search-bar">
        <input type="text" placeholder="Search" class="header-search-input"
          oninput="this.nextElementSibling.style.display = this.value ? 'block' : 'none';">
        <button class="header-clear-button"
          onclick="document.querySelector('.header-search-input').value = ''; this.style.display = 'none';"
          style="display: none;">X</button>
        <button class="header-search-button"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </header>

  <!-- 고정된 사이드바 영역 -->
  <div id="side-bar" class="header-side-bar" th:if="${isLoggedIn} and (${currentPage} == 'trainerMyPage' or ${currentPage} == 'cart')">
    <div class="side-item">
      <a href="/trainer/checkPw" class="header-nav-item">My Page</a>
    </div>
    <div class="side-item">
      <a href="/trainer/trainerClassList" class="header-nav-item">내 강의 목록</a>
    </div>
    <div class="side-item">
      <a href="/trainer/dashBoard" class="header-nav-item">대시보드</a>
    </div>
    <div class="side-item">
      <a href="/trainer/statusChange" class="header-nav-item">회원 탈퇴</a>
    </div>
  </div>

  <!-- 사이드 메뉴 영역 -->
  <div id="side-menu" class="header-side-menu">
    <!-- 사이드 메뉴 닫기 아이콘 -->
    <div class="header-close-icon" onclick="toggleMenu()">
      <i class="fa-solid fa-bars" style="font-size: 33px;"></i>
    </div>
    <!-- 사이드 메뉴 항목 -->
    <nav>
      <div>
        <div class="header-nav-item-wrapper">
          <a href="/trainer/checkPw" class="header-nav-item">My Page</a>
        </div>
        <div class="header-nav-item-wrapper">
          <a href="/trainer/trainer" class="header-nav-item">Trainer</a>
        </div>
        <div class="header-nav-item-wrapper">
            <a href="/board/3" class="header-nav-item">Home Training</a>
        </div>
        <div class="header-nav-item-wrapper">
            <a href="/board/2" class="header-nav-item">Home Gym</a>
        </div>
      <div class="header-nav-item-wrapper">
          <a href="/trainer/query" class="header-nav-item">1:1 문의</a>
      </div>
      <div class="header-nav-item-wrapper">
          <a href="/customer-service" class="header-nav-item">고객센터</a>
      </div>
    </nav>
  </div>
</div>
