<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자 비밀번호 변경 페이지</title>
</head>
<body>

  
  <form action="/admin/myPage" method="POST" name="myPageUpdate" id="myPageInfo" class="main">
      <div class="main-my-page">My Page</div>
        <div class="main-box" th:object="${session.adminLogin}">
          
          <div class="email">아이디(Email)</div>
          <span th:text="${session.adminLogin.email}">아이디</span>
          
          <div class="name">이름</div>
          <span th:text="${session.adminLogin.nickname}">이름</span>

          <div class="password">비밀번호</div>
          <input type="password" id="password" name="password" placeholder="변경할 비밀번호를 입력하세요."> <!-- 비밀번호 변경 -->
          <span id="pwMessage" name="pwMessage">변경할 비밀번호를 입력하세요.</span>
          
          <div class="pwConfirm">비밀번호 확인</div>
          <input type="password" id="pwConfirm" name="pwConfirm" placeholder="변경할 비밀번호를 다시 입력해주세요"> <!-- 비밀번호 확인 -->
          <span id="checkPw" name="checkPw">변경할 비밀번호를 다시 입력해주세요.</span>

          <button type="button" class="update" id="updateBtn"> 비밀번호 변경하기 </button>
        </input>
        <button id="topBtn" class="top">▲</button>
    </form>
 
    <script src="/js/admin/adminMyPage.js"></script>
</body>
</html>