<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitory - 로그인</title>
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
</head>
<body>
    <!-- header fragment include -->
    <th:block th:replace="~{common/common}"></th:block>

    <div class="container">
        <form class="login-container" action="/login" method="post" id="loginForm" >
            <h2>관리자 로그인</h2>
            

            <div class="login-form">
                <div class="input-group">
                    <label for="email">아이디(Email)</label>
                    <input type="text" id="email" name="email" placeholder="아이디">
                </div>

                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" placeholder="비밀번호">
                </div>

                <button type="button" class="login-button" id="loginBtn">로그인</button>
            </div>

            <div class="login-footer">
                <a href="/find-id">ID 찾기</a> |
                <a href="/find-password">비밀번호 찾기</a>
            </div>
        </form>


    </div>

    <!-- footer fragment include -->
    <div th:replace="~{common/footer :: footer}"></div>

    <script src="/js/admin/adminLogin.js"></script>
    
</body>
</html>