<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/admin/admin.css}">

  </style>
</head>
<body>

  <th:block th:replace="~{common/common}"></th:block>
  
  <div th:if="${session.adminLogin != null}"class="main-my-page">


      <th:block th:if= "${session.adminLogin.authorityNo == 3}">

        <h2>전체 관리자 페이지</h2>
        <form action="/admin/all" method="post" id="trainerCare">
          <h3>회원 관리 및 조회</h3>


        </form>

      
      </th:block>

        

  </div>

  <div th:if="${session.adminLogin == null}" class="main-my-page">
    
    <form class="login-container"  id="loginForm" >
      <table>
        <tr>
          <th>로그인 후 이용바랍니다.</th>
        </tr>
        <tr>
          <th>
            <a href="/admin/login">로그인 페이지로 이동</a>
          </th>
        </tr>
        
        
      </table>

    </form>
  </div>
   
    
  
  <script th:src="@{/js/admin/adminLoginjs}"></script>
  
  <script th:if="${message}">
    alert("아이디 혹은 패스워드가 일치하지 않습니다.");
  </script>
</body>
</html>