<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h3>회원 관리 및 조회</h3>
  <button type="menu">정렬방식▽</button>
</div>

<table boarder="1" >
  <thead>
    <tr>
      <th>회원번호</th>
      <th>|</th>
      <th>아이디</th>
      <th>|</th>
      <th>이름</th>
      <th>|</th>
      <th>가입일</th>
      <th>|</th>
      <th>댓글 수</th>
      <th>|</th>
      <th>누적 신고</th>
    </tr>
  </thead>

  <tbody id="memberList">
      <tr>
        <td>회원번호</td>
        <td>아이디</td>
        <td>이름</td>
        <td>가입일</td>
        <td>
          <a href="/admin/comment">댓글 수</a>
        </td>
        <td>
          <a href="/admin/flag">누적신고</a>
        </td>
      </tr>
    </th:block> 
  </tbody>

</table>
</form>
</body>
</html>