<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>강사 관리 및 조회</title>
  <link rel="stylesheet" th:href="@{/css/admin/trainer.css}">
</head>
<body>
  <th:block th:replace="~{common/common}"></th:block>
  <section>
    <h3>강사 관리 및 조회</h3>
  
    <table boarder="1" style="border-collapse: collapse;">
      <thead>
        <tr>
          <th>강사번호</th>
          <th>아이디</th>
          <th>이름</th>
          <th>가입일</th>
          <th>탈퇴상태</th>
          <th>누적신고 수</th>
          <th>활동 내역</th>
          <th colspan="1">회원 정보 수정</th>
        </tr>
      </thead>
  
      <tbody id="trainerList">
          <tr>
            <td>회원번호</td>
            <td>아이디</td>
            <td>이름</td>
            <td>가입일</td>
            <td>
              <a>누적신고</a>
            </td>
            <td>
              <a>활동 내역</a>
            </td>
          </tr>
      </tbody>
  
    </table>
  </section>

  <script th:src="@{/js/admin/trainer.js}"></script>
</body>
</html>