<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitory - 찜하기</title>
  <link rel="stylesheet" th:href="@{/css/login/login.css}">
</head>

<body>
  <!-- common 조각 삽입(header 포함) -->
  <block th:replace="~{common/common}"></block>

  <div style="height: 2000px;">
    <pre>

      







    </pre>
    <h1>여기는 찜하기 입니다. 로그인 시 / 비회원 으로 나누어 설정 필요</h1>
  </div>

  <!-- 푸터 조각 삽입 -->
  <footer th:replace="~{common/footer :: footer}"></footer>
</body>

</html>