.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div {
  background-color: #ffffff;
  width: 1439px;
  height: 1726px;
  position: relative;
}

.element .overlap {
  position: absolute;
  width: 1439px;
  height: 125px;
  top: -3px;
  left: 0;
}

.element .rectangle {
  position: absolute;
  width: 1439px;
  height: 119px;
  top: 3px;
  left: 0;
  background-color: #00000040;
}

.element .search {
  display: flex;
  width: 324px;
  height: 57px;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  position: absolute;
  top: 34px;
  left: 1069px;
  background-color: #ffffff;
  border-radius: 9999px;
  overflow: hidden;
  border: 1px solid;
  border-color: #d9d9d9;
}

.element .value {
  position: relative;
  flex: 1;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #757575;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.element .x {
  position: relative;
  width: 16px;
  height: 16px;
}

.element .menu {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 28px;
  left: 25px;
}

.element .text-wrapper {
  position: absolute;
  width: 401px;
  height: 125px;
  top: 0;
  left: 519px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Volkhov-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-2 {
  top: 157px;
  left: 622px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "MaruBuri-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
}

.element .overlap-group {
  position: absolute;
  width: 1370px;
  height: 1455px;
  top: 226px;
  left: 48px;
}

.element .view {
  display: flex;
  flex-direction: column;
  width: 1350px;
  height: 1455px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  border: 5px solid;
  border-color: #d9d9d9;
}

.element .supporting-text {
  position: relative;
  width: fit-content;
  font-family: var(--m3-body-small-font-family);
  font-weight: var(--m3-body-small-font-weight);
  color: #1d3f9b;
  font-size: var(--m3-body-small-font-size);
  letter-spacing: var(--m3-body-small-letter-spacing);
  line-height: var(--m3-body-small-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-small-font-style);
}

.element .segmented-button {
  display: flex;
  width: 891px;
  height: 102px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 22px;
  left: 226px;
}

.element .segment-start {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.element .segment-end {
  margin-left: -1px;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}


.element .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 100px 0px 0px 100px;
  overflow: hidden;
  border: 1px solid;
  border-color: gray;
}

.element .state-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 12px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.state-layer input[type="radio"]{
  display: none;
}
.state-layer input[type="radio"]:checked + label{
  background: rgba(0, 0, 0, 0.1); /* 선택 시 배경색 설정 */
  border-color: #000000; /* 선택 시 테두리 색상 설정 */
}

.state-layer:hover{
  background: rgba(0, 0, 0, 0.05); /* 호버 시 배경색 설정 */
}

.element .label-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}



.element .state-layer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 0px 100px 100px 0px;
  overflow: hidden;
  border: 1px solid;
  border-color: grey;
}

.element .rectangle-2 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 220px;
  left: 276px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-3 {
  height: 20px;
  top: 238px;
  left: 294px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-4 {
  position: absolute;
  height: 20px;
  top: 188px;
  left: 270px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}

.element .text-wrapper-5 {
  height: 20px;
  top: 298px;
  left: 270px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 224px;
  left: 968px;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .label-text-wrapper {
  justify-content: center;
  gap: 8px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element .label-text-2 {
  position: relative;
  width: fit-content;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}

.element .rectangle-3 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 330px;
  left: 276px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-6 {
  height: 20px;
  top: 350px;
  left: 908px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #ff4e4e;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 336px;
  left: 968px;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .text-wrapper-7 {
  height: 20px;
  top: 350px;
  left: 306px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-4 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 440px;
  left: 276px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-8 {
  height: 20px;
  top: 458px;
  left: 298px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-9 {
  height: 20px;
  top: 408px;
  left: 272px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-5 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 560px;
  left: 278px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-10 {
  height: 20px;
  top: 580px;
  left: 298px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-11 {
  height: 20px;
  top: 528px;
  left: 270px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-6 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 670px;
  left: 282px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-12 {
  height: 20px;
  top: 688px;
  left: 300px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-13 {
  height: 20px;
  top: 638px;
  left: 276px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-7 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 780px;
  left: 282px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-14 {
  position: absolute;
  height: 20px;
  top: 800px;
  left: 302px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}

.element .text-wrapper-15 {
  height: 20px;
  top: 748px;
  left: 276px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-8 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 890px;
  left: 282px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .view-wrapper {
  all: unset;
  box-sizing: border-box;
  top: 894px;
  left: 972px;
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .text-wrapper-16 {
  height: 20px;
  top: 908px;
  left: 298px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-17 {
  height: 20px;
  top: 858px;
  left: 276px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .view-2 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 1000px;
  left: 280px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-18 {
  height: 20px;
  top: 1018px;
  left: 300px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-19 {
  height: 20px;
  top: 968px;
  left: 272px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-20 {
  height: 20px;
  top: 1018px;
  left: 912px;
  font-family: "Roboto-Medium", Helvetica;
  font-weight: 500;
  color: #ff4e4e;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .button-2 {
  all: unset;
  box-sizing: border-box;
  top: 1004px;
  left: 970px;
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .rectangle-9 {
  position: absolute;
  width: 793px;
  height: 132px;
  top: 1132px;
  left: 280px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-21 {
  width: 69px;
  height: 21px;
  top: 1100px;
  left: 282px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .overlap-group-wrapper {
  position: absolute;
  width: 880px;
  height: 40px;
  top: 1290px;
  left: 238px;
  background-color: #ffffff;
}

.element .overlap-group-2 {
  position: relative;
  height: 40px;
  background-image: url(./img/rectangle-15.svg);
  background-size: 100% 100%;
}

.element .text-wrapper-22 {
  height: 20px;
  top: 9px;
  left: 403px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .view-3 {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 1364px;
  left: 1320px;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .tab-contents-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element .tab-contents {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 14px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.element .label {
  position: relative;
  width: fit-content;
  font-family: var(--m3-title-small-font-family);
  font-weight: var(--m3-title-small-font-weight);
  color: var(--m3syslighton-surface-variant);
  font-size: var(--m3-title-small-font-size);
  text-align: center;
  letter-spacing: var(--m3-title-small-letter-spacing);
  line-height: var(--m3-title-small-line-height);
  white-space: nowrap;
  font-style: var(--m3-title-small-font-style);
}

.element {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element .div {
  background-color: #ffffff;
  width: 1442.11px;
  height: 1863.41px;
  position: relative;
}

.element .overlap {
  position: absolute;
  width: 1381px;
  height: 1602px;
  top: 210px;
  left: 44px;
}

.element .plain-tooltip {
  display: flex;
  flex-direction: column;
  width: 1350px;
  height: 1602px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
  border: 5px solid;
  border-color: #d9d9d9;
}

.element .supporting-text {
  position: relative;
  width: fit-content;
  font-family: var(--m3-body-small-font-family);
  font-weight: var(--m3-body-small-font-weight);
  color: #1d3f9b;
  font-size: var(--m3-body-small-font-size);
  letter-spacing: var(--m3-body-small-letter-spacing);
  line-height: var(--m3-body-small-line-height);
  white-space: nowrap;
  font-style: var(--m3-body-small-font-style);
}

.element .segmented-button {
  display: flex;
  width: 891px;
  height: 102px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 39px;
  left: 229px;
}

.element .segment-start {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.element .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #00000040;
  border-radius: 100px 0px 0px 100px;
  overflow: hidden;
  border: 1px solid;
}

.element .state-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 12px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element .label-text {
  font-family: "Roboto-Medium", Helvetica;
  line-height: 14px;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
}

.element .text-wrapper {
  font-weight: 500;
  letter-spacing: 0.01px;
  line-height: 20px;
}

.element .span {
  font-family: "MaruBuri-Regular", Helvetica;
  letter-spacing: 0.01px;
  line-height: 20px;
}

.element .segment-end {
  margin-left: -1px;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  padding: 4px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.element .state-layer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border-radius: 0px 100px 100px 0px;
  overflow: hidden;
  border: 1px solid;
  border-color: #00000040;
}

.element .label-text-2 {
  font-family: "MaruBuri-Regular", Helvetica;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
}

.element .text-wrapper-2 {
  position: absolute;
  height: 20px;
  top: 206px;
  left: 273px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}

.element .rectangle {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 236px;
  left: 280px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-3 {
  height: 20px;
  top: 255px;
  left: 297px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  top: 242px;
  left: 971px;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .label-text-wrapper {
  justify-content: center;
  gap: 8px;
  padding: 10px 24px;
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element .label-text-3 {
  position: relative;
  width: fit-content;
  margin-left: -12px;
  margin-right: -12px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}

.element .text-wrapper-4 {
  height: 20px;
  top: 316px;
  left: 273px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-2 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 346px;
  left: 279px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-5 {
  height: 20px;
  top: 426px;
  left: 276px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-3 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 456px;
  left: 280px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-6 {
  height: 20px;
  top: 474px;
  left: 297px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-7 {
  height: 20px;
  top: 366px;
  left: 910px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #ff4e4e;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .div-wrapper {
  all: unset;
  box-sizing: border-box;
  top: 354px;
  left: 970px;
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .text-wrapper-8 {
  height: 20px;
  top: 366px;
  left: 298px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-4 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 576px;
  left: 282px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-9 {
  height: 20px;
  top: 598px;
  left: 298px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-10 {
  height: 20px;
  top: 546px;
  left: 273px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-5 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 690px;
  left: 280px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-11 {
  height: 20px;
  top: 708px;
  left: 298px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-12 {
  height: 20px;
  top: 658px;
  left: 274px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .building-blocks {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 1518px;
  left: 1331px;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .tab-contents-wrapper {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 16px;
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element .tab-contents {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 14px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.element .label {
  position: relative;
  width: fit-content;
  font-family: var(--m3-title-small-font-family);
  font-weight: var(--m3-title-small-font-weight);
  color: var(--m3syslighton-surface-variant);
  font-size: var(--m3-title-small-font-size);
  text-align: center;
  letter-spacing: var(--m3-title-small-letter-spacing);
  line-height: var(--m3-title-small-line-height);
  white-space: nowrap;
  font-style: var(--m3-title-small-font-style);
}

.element .text-wrapper-13 {
  height: 20px;
  top: 768px;
  left: 274px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-6 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 800px;
  left: 279px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-14 {
  position: absolute;
  height: 20px;
  top: 820px;
  left: 300px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}

.element .text-wrapper-15 {
  height: 20px;
  top: 878px;
  left: 273px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-7 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 910px;
  left: 280px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-16 {
  height: 20px;
  top: 928px;
  left: 296px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .button-2 {
  all: unset;
  box-sizing: border-box;
  top: 914px;
  left: 970px;
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .rectangle-8 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 1020px;
  left: 280px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-17 {
  height: 20px;
  top: 988px;
  left: 272px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-18 {
  height: 20px;
  top: 1038px;
  left: 298px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .text-wrapper-19 {
  height: 20px;
  top: 1038px;
  left: 910px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #ff4e4e;
  font-size: 15px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .button-3 {
  all: unset;
  box-sizing: border-box;
  top: 1024px;
  left: 971px;
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .text-wrapper-20 {
  width: 104px;
  height: 20px;
  top: 1130px;
  left: 278px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-9 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 1160px;
  left: 280px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .p {
  height: 20px;
  top: 1178px;
  left: 287px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .rectangle-10 {
  position: absolute;
  width: 793px;
  height: 58px;
  top: 1228px;
  left: 281px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-21 {
  height: 20px;
  top: 1246px;
  left: 286px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .button-4 {
  all: unset;
  box-sizing: border-box;
  top: 1234px;
  left: 970px;
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .button-5 {
  all: unset;
  box-sizing: border-box;
  top: 1166px;
  left: 968px;
  display: flex;
  flex-direction: column;
  width: 102px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: absolute;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.element .rectangle-11 {
  position: absolute;
  width: 793px;
  height: 132px;
  top: 1344px;
  left: 284px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.element .text-wrapper-22 {
  width: 69px;
  height: 21px;
  top: 1312px;
  left: 284px;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .overlap-group-wrapper {
  position: absolute;
  width: 880px;
  height: 40px;
  top: 1502px;
  left: 240px;
  background-color: #ffffff;
}

.element .overlap-group {
  position: relative;
  height: 43px;
  top: -1px;
}

.element .img {
  position: absolute;
  width: 880px;
  height: 41px;
  top: 1px;
  left: 0;
  transform: rotate(0.1deg);
}

.element .text-wrapper-23 {
  height: 20px;
  top: 10px;
  left: 401px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "MaruBuri-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  position: absolute;
  text-align: center;
}

.element .overlap-2 {
  position: absolute;
  width: 1439px;
  height: 125px;
  top: -3px;
  left: 0;
}

.element .rectangle-12 {
  position: absolute;
  width: 1439px;
  height: 119px;
  top: 3px;
  left: 0;
  background-color: #00000040;
}

.element .search {
  display: flex;
  width: 324px;
  height: 57px;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  position: absolute;
  top: 34px;
  left: 1069px;
  background-color: #ffffff;
  border-radius: 9999px;
  overflow: hidden;
  border: 1px solid;
  border-color: #d9d9d9;
}

.element .value {
  position: relative;
  flex: 1;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #757575;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.element .x {
  position: relative;
  width: 16.03px;
  height: 16.03px;
  transform: rotate(0.1deg);
}

.element .menu {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 28px;
  left: 25px;
  transform: rotate(0.1deg);
}

.element .text-wrapper-24 {
  position: absolute;
  width: 401px;
  height: 125px;
  top: 0;
  left: 519px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Volkhov-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.element .text-wrapper-25 {
  top: 157px;
  left: 622px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "MaruBuri-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
}