<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/css/myPage/memberMyActivities.css">
</head>

<body>
  <main>
    <main>
      <div id="temp1"></div>
      <div id="temp2"></div>
      <!-- <th:block th:replace="~{myPage/myPageHeader}"></th:block>
      <th:block th:replace="~{myPage/side}"></th:block> -->
    </main>
  </main>

  <div class="main">
    <div class="activities">내 활동 내역</div>
    <div class="main-box">
      <table>
      <thead>
        <th>비고</th>
        <th>|</th>
        <th>작성일</th>
      </thead>
      <tbody>
      <th:block th:if="${#lists.isEmpty(boardList)}">
        <tr>
          <th colspan="6">작성한 댓글이 없습니다.</th>
        </tr>
      </th:block>

      <!-- 게시글이 존재할 때 -->
      <th:block th:unless="${#lists.isEmpty(boardList)}">
        <tr th:each="board : ${boardList}" th:object="${board}">
          <td>
            <!-- 썸네일 추가 -->
            <!-- <img th:if="*{thumbnail}" th:src="*{thumbnail}" class="list-thumbnail"> -->
            <a th:unless="${param.key}"
              th:href="@{/board/{boardCode}/{boardNo} (boardCode=${boardCode}, boardNo=*{boardNo})}"
              th:text="*{boardTitle}">댓글 내용</a>

            <!-- 검색인 경우 -->
            <a th:if="${param.key}"
              th:href="@{/board/{boardCode}/{boardNo} (boardCode=${boardCode}, 
                        boardNo=*{boardNo}, key=${param.key}, query=${param.query})}"
              th:text="*{boardTitle}">게시글 제목</a>
          </td>

          <!-- 작성자 닉네임 -->
          <td th:text="*{memberNickname}">작성자</td>

          <!-- 작성일 -->
          <td th:text="*{boardWriteDate}">2023-10-26</td>
          <button>삭제</button>
          <button>수정</button>
        </tr>
      </th:block>
    </tbody>
  </table>
</div>
      <button class="top">▲</button>
      <!-- 페이지 -->
      <div class="pagination">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">7</a>
        <a href="#">8</a>
        <a href="#">9</a>
        <a href="#">10</a>
      </div>
    </div>
    <div id="temp3"></div>
  </div>

  <script>
    function loadFromHtml(path, selector) {
      fetch(path)
        .then(resp => resp.text())
        .then(result => {
          selector.outerHTML = result;
        })
    }
    /* header */
    const temp1 = document.querySelector("#temp1");
    loadFromHtml("../common/memberHeader.html", temp1);
    /* side */
    const temp2 = document.querySelector("#temp2");
    loadFromHtml("../common/memberSideBar.html", temp2);
    /* footer */
    const temp3 = document.querySelector("#temp3");
    loadFromHtml("../common/footer.html", temp3);
  </script>
</body>

</html>