<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내 활동 내역</title>
  <link rel="stylesheet" href="/css/myPage/memberMyActivities.css">
</head>

<body>
  <th:block th:replace="~{common/common}"></th:block>

  <form action="/member/memberMyActivities" method="GET" name="myPageAct" id="myPageAct" class="main">
    <div class="activities">내 활동 내역</div>
    <div class="main-box">
      <div class="container">
        <select name="select" id="selectType">
          <option value="recent">최신순</option>
          <option value="populer">인기순</option>
          <option value="review">리뷰순</option>
        </select>
      </div>
      <input type="checkbox" id="checkbox" class="all-check-box">
      <div class="select">모두 선택</div>
      <div class="main-box">
      <table>
        <thead>
          <th>비고</th>
          <th>|</th>
          <th>작성일</th>
        </thead>
        <tbody>
              <td>
                <!-- <img src="../../static/images/teacher1.jpg"> -->
                <img th:if="*{thumbnail}" th:src="*{thumbnail}" class="list-thumbnail">
                <td><a th:text="*{boardContent}">내 활동 제목</a></td>
                <td th:text="*{boardTypeNo}">게시판 종류</td>
                <td th:text="*{boardWriteDate}">2024-10-24</td>
              </td>
            </tbody>
          </table>
  
              <!-- 페이지 -->
              <div class="pagination">
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#">6</a>
                <a href="#">7</a>
                <a href="#">8</a>
                <a href="#">9</a>
                <a href="#">10</a>
            </div>
          </div>
          <!-- 탑버튼 -->
          <button class="top">▲</button>
          </div>
        </form>
      </div>
    </div>
    </div>
    <div th:replace="common/footer :: footer"></div>
    <script src="/js/myPage/memberMyActivities.js"></script>
  </body>
  </html>