<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>
  <link rel="stylesheet" href="../../static/css/myPage/myPage-style.css">
  <link rel="stylesheet" href="../../static/css/globals.css">
  <link rel="stylesheet" href="../../static/css/styleguide.css">
</head>
<body>
  <main>
    <th:block th:replace="~{myPage/Side}"></th:block>
  </main>

  <div class="element">
    <div class="div">
      <div class="overlap">
        <div class="header"></div>
        <div class="logo">FITORY</div>
        <div class="search">
          <input class="value" placeholder="Search" type="text" /> <img class="x" src="img/x.svg" />
        </div>
        <button class="hesder-logout">Logout</button>
        <button class="hesder-my-page">MyPage</button>
      </div>
      <div class="overlap-group">
        <div class="main-my-page">My Page</div>
        <div class="overlap-2">
          <div class="overlap-3">
            <div class="main-box"><div class="supporting-text"></div></div>
            <button class="top">
              <div class="state-layer">
                <div class="tab-contents"><div class="label">▲</div></div>
              </div>
            </button>
            <input class="box"></input>
            <input class="email" placeholder="아이디(Email)" type="email" />
            <input class="box-2"></input>
            <div class="email-ok">이메일 인증</div>
            <input class="box-3"></input>
            <div class="name">이름</div>
            <input class="box-4"></input>
            <div class="birth">생년월일</div>
            <input class="box-5"></input>
            <div class="tel">전화번호</div>
            <div class="sub-box"></div>
            <div class="pro">프로필 사진(2장 필수)</div>
            <img class="img" src="img/pro-1.svg" />
            <img class="pro-2" src="img/pro-2.svg" />
            <img class="pro-3" src="img/pro-3.svg" />
            <div class="upload">
              <div class="div-wrapper"><div class="text-wrapper">프로필 사진 바꾸기</div></div>
            </div>
            <div class="main-in">자격사항</div>
            <div class="main-into">자격 사항</div>
            <div class="enroll">발급 기간</div>
            <div class="date">작성일</div>
            <div class="line"><input class="supporting-text-2">한줄평 최대 몇글자까지 할지 정해야 할 듯 해염</input></div>
            <div class="text-wrapper-2">1분전</div>
            <div class="text-wrapper-3">2024.09.09</div>
            <div class="supporting-text-wrapper"><input class="supporting-text-2">한줄평</input></div>
            <div class="text-wrapper-4">23시간전</div>
            <div class="text-wrapper-5">2024.09.09</div>
            <div class="line-2"><input class="supporting-text-2">한줄평</input></div>
            <div class="text-wrapper-6">3일전</div>
            <div class="text-wrapper-7">2024.09.09</div>
            <div class="line-3"><input class="supporting-text-2">한줄평</input></div>
            <div class="text-wrapper-8">2024.10.01</div>
            <div class="text-wrapper-9">2024.09.09</div>
            <div class="line-4"><input class="supporting-text-2">한줄평 최대 몇글자까지 할지 정해야 할 듯 해염</input></div>
            <div class="text-wrapper-10">2024.10.01</div>
            <div class="text-wrapper-11">2024.09.09</div>
            <div class="line-5"><input class="supporting-text-2">한줄평</input></div>
            <div class="text-wrapper-12">23시간전</div>
            <div class="text-wrapper-13">2024.09.09</div>
            <div class="line-6"><input class="supporting-text-2">한줄평</input></div>
            <div class="text-wrapper-14">3일전</div>
            <div class="text-wrapper-15">2024.09.09</div>
            <div class="line-7"><input class="supporting-text-2">한줄평</input></div>
            <div class="text-wrapper-16">2024.10.01</div>
            <div class="text-wrapper-17">2024.09.09</div>
            <input class="box-6"></input>
            <!-- <div class="text-wrapper-18">cm</div> -->
            <div class="higth">키</div>
            <input class="box-7">kg</input>
            <div class="wig">몸무게</div>
            <!-- <div class="text-wrapper-19">kg</div> -->
            <button class="upbate">
              <div class="div-wrapper"><div class="text-wrapper-20">수정하기</div></div>
            </button>
          </div>
          <button class="side-page">My Page</button>
          <button class="side-4">내 회원 관리</button>
          <button class="side-3">내 강의 목록</button>
          <button class="side-2">대시보드</button>
          <button class="side">자주 묻는 질문</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>