<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Page</title>
  <link rel="stylesheet" href="/css/myPage/trainerMyPage-style.css">
</head>

<body>
  <th:block th:replace="~{common/common}"></th:block>

  <form action="/trainer/trainerMyPage" method="POST" enctype="multipart/form-data" name="myPageUpdate" id="myPageInfo" class="main">
    <div class="main-my-page">My Page</div>
    <div class="main-box">
      <div class="email">아이디(Email)</div>
      <input type="text" name="trainerEmail" id="trainerEmail" class="box" placeholder="이메일 입력"
        th:value="${session.trainerLogin.trainerEmail}" readonly>
      <div class="name">이름</div>
      <input type="text" name="trainerNickname" id="trainerName" class="box" placeholder="이름 작성"
        th:value="${session.trainerLogin.trainerNickname}">
      <div class="tel">전화번호</div>
      <input type="text" name="trainerTel" id="trainerTel" class="box" maxlength="11"
        placeholder="'-' 를 제외한 숫자만 입력해주세요." th:value="${session.trainerLogin.trainerTel}">
      <div class="main-in">자격사항</div>
      <table class="qualification-table">
        <thead>
          <tr>
            <th>자격사항</th>
            <th class="date-th">
              취득일
              <button type="button" value="+" class="plus" id="plus">+</button>
            </th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr th:each="qual, stat : ${session.trainerLogin?.qualificationList}" th:data-no="${qual.qualificationNo}">
            <td>
              <input class="review" name="qName" th:value="${qual.qualification}" placeholder="자격사항을 작성해주세요.">
            </td>
            <td>
              <input class="date" type="date" name="qDate" th:value="${qual.qualificationDate}" >
            </td>
            <td th:if="${stat.index > 0}">
              <button type="button" class="qualificationRemovebtn">-</button>
            </td>
          </tr>
        </tbody>
      </table>


      <!-- 다른 폼 요소들 -->
      <div class="profile">프로필 사진(2장 필수) <span id="deleteImage">x</span></div>
      <div class="profile-box">
        <img class="preview" id="trainerImgMain" th:src="${session.trainerLogin.trainerImgMain != null ? session.trainerLogin.trainerImgMain : '/images/trainer.default.image.jpg'}" alt="Profile Image" onclick="openFileInput('mainImageInput1')">
        <img class="preview" id="trainerImgMainSub" th:src="${session.trainerLogin.trainerImgMainSub != null ? session.trainerLogin.trainerImgMainSub : '/images/trainer.default.image.jpg'}" alt="Profile Image" onclick="openFileInput('mainImageInput2')">
      </div>
        <div class="profile-btn-area">
        </div>
        <button type="submit" class="update" id="update"> 수정하기 </button>
      </div>
    </div>
  </form>
  <input type="file" id="mainImageInput1" accept="image/*" style="display: none;" onchange="previewImage(event, 'trainerImgMain')" multiple>
  <input type="file" id="mainImageInput2" accept="image/*" style="display: none;" onchange="previewImage(event, 'trainerImgMainSub')" multiple>

  <script>
    const trainerImgMain = /*[[${session.trainerLogin.trainerImgMain ?: '/images/**'}]]*/ '/images/**';
    const trainerImgMainSub = /*[[${session.trainerLogin.trainerImgMainSub ?: '/images/**'}]]*/ '/images/**';
</script>


  <!-- 푸터 -->
  <th:block th:replace="~{common/footer::footer}"></th:block>
  <script src="/js/myPage/trainerMyPage.js"></script>
</body>

</html>