<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.fit.admin.mapper.AdminMapper">
	
	<!-- 로그인 -->
	<select id="adminLogin"
			resultType="admin">
		SELECT
			ADMIN_NO,
			EMAIL, 
			PW,
			NICKNAME, 
			DEL_FL,
			AUTHORITY,
			AUTHORITY_NO
		FROM "ADMIN"
		JOIN "AUTHORITY" USING(AUTHORITY_NO) 
		WHERE EMAIL = #{adminEmail}
		AND   DEL_FL = 'N'
	</select>
	
	<select id="memberList"
					resultType="Member"	>
				SELECT 
				    M.MEMBER_NO,
				    M.MEMBER_EMAIL,
				    M.MEMBER_NAME,
				    M.MEMBER_TEL,
				    M.MEMBER_BIRTHDAY,
				    M.HEIGHT,
				    M.WEIGHT,
				    TO_CHAR(M.ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') AS ENROLL_DATE,
				    COUNT(R.COMMENT_NO) AS COMMENT_COUNT
				FROM 
				    MEMBER M
				LEFT JOIN 
				    REVIEW R ON M.MEMBER_NO = R.MEMBER_NO
				GROUP BY 
				    M.MEMBER_NO, 
				    M.MEMBER_EMAIL, 
				    M.MEMBER_NAME, 
				    M.MEMBER_TEL, 
				    M.MEMBER_BIRTHDAY, 
				    M.HEIGHT, 
				    M.WEIGHT, 
				    M.ENROLL_DATE
				ORDER BY 
				    M.MEMBER_NO
	</select>
	
	
	
	
</mapper>
