<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.fit.admin.mapper.AdminMapper">
	
	<!-- 로그인 -->
	<select id="adminLogin"
			resultType="admin">
		SELECT
			ADMIN_NO,
			EMAIL, 
			PW,
			NICKNAME, 
			DEL_FL,
			AUTHORITY,
			AUTHORITY_NO
		FROM "ADMIN"
		JOIN "AUTHORITY" USING(AUTHORITY_NO) 
		WHERE EMAIL = #{adminEmail}
		AND   DEL_FL = 'N'
	</select>
	
	<select id="memberList"
					resultType="Member"	>
				SELECT 
				    M.MEMBER_NO,
				    M.MEMBER_EMAIL,
				    M.MEMBER_NAME,
				    M.MEMBER_TEL,
				    M.MEMBER_BIRTHDAY,
				    TO_CHAR(M.ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') AS ENROLL_DATE,
				    M.MEMBER_DEL_FL,
				    COUNT(R.COMMENT_NO) AS COUNT_COMMENT,
				    COUNT(N.REPORT_NO) AS COUNT_REPORT 
				FROM 
				    MEMBER M
				LEFT JOIN 
				    REVIEW R ON M.MEMBER_NO = R.MEMBER_NO
				LEFT JOIN
						REPORT N ON M.MEMBER_NO = N.ASSAILANT_PK
				GROUP BY 
				    M.MEMBER_NO, 
				    M.MEMBER_EMAIL, 
				    M.MEMBER_NAME, 
				    M.MEMBER_TEL, 
				    M.MEMBER_BIRTHDAY, 
				    M.ENROLL_DATE,
				    M.MEMBER_DEL_FL
				ORDER BY 
				    M.MEMBER_NO
	</select>
	
	
	<select id="trainerList"
					parameterType="Trainer">
	 SELECT
			T.TRAINER_NO,
			T.TRAINER_EMAIL,
			T.TRAINER_NICKNAME,
			T.SALES,
			TO_CHAR(T.ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') AS ENROLL_DATE,
			T.TRAINNER_DEL_FL,
			T.GENDER,
			COUNT(B.BOARD_NO) AS COUNT_BOARD_NO,
			COUNT(R.REPORT_NO) AS COUNT_REPORT_NO
		FROM TRAINER T
		LEFT JOIN
				BOARD B ON B.TRAINER_NO = T.TRAINER_NO
		LEFT JOIN
				REPORT R ON R.ASSAILANT_PK = T.TRAINER_NO
		GROUP BY 
				    T.TRAINER_NO, 
				    T.TRAINER_EMAIL, 
				    T.TRAINER_NICKNAME, 
				    T.SALES,
				    T.ENROLL_DATE,
				    T.TRAINNER_DEL_FL,
				    T.GENDER
		ORDER BY 
				    T.TRAINER_NO
				
		
	</select>
	
	
	<!-- 주문내역 조회 -->
	<select id="selectOrderList"
					resultType="Order">
				SELECT
			ORDER_NO,
			ORDER_CLASS_AMOUNT,
			ORDER_CLASS_NO,
			TITLE,
			PAYMENT_DATE
		FROM "ORDER" O
		JOIN "BOARD" B ON(O.ORDER_CLASS_NO = B.BOARD_NO)
		LEFT JOIN "PAYMENT" P USING(ORDER_NO)
		WHERE ORDER_MEMBER_NO = #{memberNo}
	</select>
	
	<!-- 댓글 목록조회 -->
	<select id="selectCommentList"
					resultType="Comment">
			SELECT
				COMMENT_NO,
				REVIEW_CONTENT,
				TO_CHAR(REVIEW_WRITE_DATE,'YYYY"년" MM"월" DD"일"') AS REVIEW_WRITE_DATE,
				"NUMBER",
				R.BOARD_NO,
				B.CLASS_NO
			FROM "REVIEW" R
			JOIN "BOARD" B ON (R.BOARD_NO = B.BOARD_NO)
			WHERE MEMBER_NO = #{memberNo}
			AND REVIEW_DEL_FL = 'N'

	</select>
	
	<!-- 문의내역 조회 -->
	<select id="selectQueryList"
					resultType="Query">
					SELECT 
						QUERY_NO,
						QUERY_DETAIL,
						TO_CHAR(QUERY_DATE,'YYYY"년" MM"월" DD"일"') AS QUERY_DATE,
						QUERY_TYPE,
						STATUS						
					FROM "QUERY"
					WHERE QUERY_PK = #{memberNo}
	</select>
	
	<!-- 신고내역 조회 -->
	<select id="selectReportList"
					resultType="Report">
					SELECT
						REPORT_NO,
						REPORT_DETAIL,
						TO_CHAR(REPORT_DATE,'YYYY"년" MM"월" DD"일"') AS REPORT_DATE,
						REPORTER_TYPE,
						ASSAILANT_TYPE,
						ASSAILANT_PK,
						STATUS
					FROM "REPORT"
					WHERE REPORTER_PK = #{memberNo}										
	</select>
	
	
	<!-- 강사 활동내역 조회  -->
	
	
	<!-- 문의내역 조회 -->
	<select id="queryList"
					resultType="Query">
					SELECT 
						QUERY_NO,
						QUERY_DETAIL,
						QUERY_DATE,
						QUERY_TYPE,
						STATUS						
					FROM "QUERY"
					WHERE QUERY_PK = #{trainerNo}
	</select>
	
	<!-- 신고내역 조회 -->
	<select id="reportList"
					resultType="Report">
					SELECT
						REPORT_NO,
						REPORT_DETAIL,
						TO_CHAR(REPORT_DATE,'YYYY"년" MM"월" DD"일"') AS REPORT_DATE,
						REPORTER_TYPE,
						ASSAILANT_TYPE,
						ASSAILANT_PK,
						STATUS
					FROM "REPORT"
					WHERE REPORTER_PK = #{trainerNo}										
	</select>
	
	
	<select id="selectBoardList"
					resultType="Board">
					SELECT
						BOARD_NO,
						TITLE,
						TO_CHAR(UPLOAD_DATE,'YY"."MM"."DD"."') AS UPLOAD_DATE
					FROM "BOARD"
					WHERE TRAINER_NO = #{trainerNo}
	</select>
	
	
	<select id="selectQualificationList"
					resultType="Trainer">
					SELECT
						QUALIFICATION_NO,
						QUALIFICATION,
						AWARD,
						CAREER,
						TO_CAHR(QUALIFICATION_DATE, 'YYYY"년"MM"월"DD"일"')
					FROM "QUALIFICATION"
					WHERE TRAINER_NO = #{trainerNo}
	</select>
	
	<update id="changeStatus"
					parameterType="_int">
  	UPDATE "MEMBER"
  	SET
  		MEMBER_DEL_FL = 
  			DECODE(MEMBER_DEL_FL, 'Y', 'N', 'Y')
  	WHERE MEMBER_NO = #{memberNo}
	</update>
	
	
	<select id="classListCount"
					resultType="_int">
		SELECT
			COUNT(*)
		FROM "BOARD" B
		LEFT JOIN "ORDER" O ON(B.BOARD_NO = O.ORDER_CLASS_NO) 
		WHERE CLASS_NO = '2'
		AND BOARD_DEL_FL = 'N'
	</select>
	<select id="classList"
					resultType="Board">
		SELECT
			BOARD_NO,
			TITLE,
			PAYMENT,
			SUM(ORDER_CLASS_AMOUNT) AS GRADE
		FROM "BOARD" B
		LEFT JOIN "ORDER" O ON(B.BOARD_NO = O.ORDER_CLASS_NO) 
		WHERE CLASS_NO = '2'
		AND BOARD_DEL_FL = 'N'
		GROUP BY BOARD_NO, TITLE, PAYMENT
	</select>
	
		<select id="boardListCount"
					resultType="_int">
		SELECT
			COUNT(*)
		FROM "BOARD" B
		LEFT JOIN "ORDER" O ON(B.BOARD_NO = O.ORDER_CLASS_NO) 
		WHERE CLASS_NO = '3'
		AND BOARD_DEL_FL = 'N'
	</select>
		<select id="boardList"
					resultType="Board">
		SELECT
			BOARD_NO,
			TITLE,
			PAYMENT,
			SUM(ORDER_CLASS_AMOUNT) AS GRADE
		FROM "BOARD" B
		LEFT JOIN "ORDER" O ON(B.BOARD_NO = O.ORDER_CLASS_NO) 
		WHERE CLASS_NO = '3'
		AND BOARD_DEL_FL = 'N'
		GROUP BY BOARD_NO, TITLE, PAYMENT
	</select>
</mapper>
