<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.fit.board.mapper.BoardMapper">

	<!-- <select id="selectDetail" resultMap="board_rm"> <id property="boardNo" 
		column="BOARD_NO"/> </resultMap> ! -->
	<!-- <resultMap type="Board" id="board_rm"> <id property="boardNo" column="BOARD_NO"/> 
		</resultMap> -->

	<!-- 게시글 상세 조회 -->
	<select id="selectDetail" resultType="Board">
		SELECT
		BOARD_NO,
		TITLE,
		DETAIL,
		PATH,
		CLASS_NO,
		HITS,
		B.TRAINER_NO,
		TRAINER_NICKNAME,
		PROFILE_IMG,
		PAYMENT,

		TO_CHAR(UPLOAD_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS')
		AS
		UPLOAD_DATE,

		TO_CHAR(BILLING_DATE, 'YYYY"년" MM"월" DD"일" HH24:MI:SS')
		AS
		BILLING_DATE

		FROM "BOARD" B
		JOIN "TRAINER" T ON (B.TRAINER_NO =
		T.TRAINER_NO)
		WHERE BOARD_NO = #{boardNo}
		AND CLASS_NO = #{classNo}
	</select>

	<select id="selectCommentList" parameterType="int"
		resultType="Comment">
		SELECT R.*, M.MEMBER_NAME AS memberNickname
		FROM REVIEW R
		JOIN MEMBER M ON R.MEMBER_NO = M.MEMBER_NO
		WHERE R.BOARD_NO =
		#{boardNo}
		AND R.REVIEW_DEL_FL = 'N'
		ORDER BY R.REVIEW_WRITE_DATE DESC
	</select>

	<select id="hasReviewed" parameterType="map" resultType="int">
		SELECT
		COUNT(*)
		FROM REVIEW
		WHERE
			MEMBER_NO = #{memberNo}
			AND BOARD_NO = #{boardNo}
			AND REVIEW_DEL_FL = 'N'
	</select>
	
	
	<select id="hasPaidForBoard" parameterType="map" resultType="String">
    SELECT  
    	NVL((SELECT PAYMENT_FL
       	FROM PAYMENT P 
       	WHERE B.BOARD_NO = P.PAYMENT_BOARD
       	AND P.PAYMENT_MEMBER = #{memberNo}
       ), 'N') PAYMENT_FL
	FROM BOARD B
	WHERE B.BOARD_NO = #{boardNo}
	</select>




	<!-- ====================================================================================================== -->
	<!-- ====================================================================================================== -->

	<!-- 인기 클래스 8개 조회 -->
	<select id="selectPopularClass" resultType="Board">
		SELECT 
			BOARD_NO,
			IMG_THUMBNAIL "thumbnail",
			TITLE,
			TRAINER_NO,
			TRAINER_NICKNAME,
			UPLOAD_DATE,
			BILLING_DATE,
			PAYMENT,
			GRADE,
			CLASS_NO
		FROM BOARD 
		LEFT JOIN BOARD_IMG USING (BOARD_NO)
		JOIN TRAINER USING (TRAINER_NO)
		WHERE CLASS_NO = #{classNo}
		AND BOARD_DEL_FL= 'N'
		ORDER BY GRADE DESC
		FETCH FIRST 8 ROWS ONLY
	</select>


	<!-- 최근 클래스 8개 조회 -->
	<select id="selectRecentClass" resultType="Board">
		SELECT 
			BOARD_NO,
			IMG_THUMBNAIL "THUMBNAIL",
			TITLE,
			TRAINER_NO,
			TRAINER_NICKNAME,
			TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') UPLOAD_DATE,
			TO_CHAR(BILLING_DATE, 'YYYY-MM-DD') BILLING_DATE,
			PAYMENT,
			GRADE,
			CLASS_NO
		FROM BOARD 
		LEFT JOIN BOARD_IMG USING (BOARD_NO)
		JOIN TRAINER USING (TRAINER_NO)
		WHERE CLASS_NO = #{classNo}
		AND BOARD_DEL_FL= 'N'
		ORDER BY BOARD_NO DESC
		FETCH FIRST 8 ROWS ONLY
	</select>

	<!-- 클래스 조회 -->
	<select id="selectClassList" resultType="Board">
		SELECT 
			BOARD_NO,
			IMG_THUMBNAIL "THUMBNAIL",
			TITLE,
			TRAINER_NO,
			TRAINER_NICKNAME,
			TO_CHAR(UPLOAD_DATE, 'YYYY-MM-DD') UPLOAD_DATE,
			TO_CHAR(BILLING_DATE, 'YYYY-MM-DD') BILLING_DATE,
			PAYMENT,
			GRADE,
			CLASS_NO,
			HITS
		FROM BOARD 
		LEFT JOIN BOARD_IMG USING (BOARD_NO)
		JOIN TRAINER USING (TRAINER_NO)
		WHERE CLASS_NO = #{classNo}
		AND BOARD_DEL_FL= 'N'

		<choose>
			<when test="sort == 'latest'">
				ORDER BY BOARD_NO DESC
			</when>
			<when test="sort == 'rating'">
				ORDER BY GRADE DESC
			</when>
			<when test="sort == 'views'">
				ORDER BY HITS DESC
			</when>
		</choose>
	</select>

	<!-- 클래스 목록 총 개수 조회 -->
	<select id="getClassListCount" resultType="int">
		SELECT COUNT(*) FROM BOARD
		WHERE CLASS_NO = #{classNo}
		AND BOARD_DEL_FL= 'N'
	</select>

</mapper>