<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.fit.board.mapper.CommentMapper">

	<!-- 댓글 등록 -->
	<insert id="insertComment" parameterType="Comment"
		useGeneratedKeys="true" keyProperty="commentNo">
		INSERT INTO COMMENT (COMMENT_NO, REVIEW_CONTENT, REVIEW_WRITE_DATE,
		REVIEW_DEL_FL, NUMBER, MEMBER_NO, BOARD_NO)
		VALUES (#{commentNo}, #{reviewContent}, SYSDATE, 'N', #{number},
		#{memberNo}, #{boardNo})
	</insert>
	
	<!-- 댓글 수정 -->
	<update id="updateComment" parameterType="Comment">
		UPDATE COMMENT
		SET REVIEW_CONTENT = #{reviewContent},
		REVIEW_WRITE_DATE = SYSDATE
		WHERE COMMENT_NO = #{commentNo}
		AND MEMBER_NO = #{memberNo}
	</update>

	<!-- 댓글 삭제 -->
	<delete id="deleteComment" parameterType="map">
		DELETE FROM COMMENT
		WHERE COMMENT_NO = #{commentNo}
		AND MEMBER_NO = #{memberNo}
	</delete>

</mapper>
