<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.fit.member.mapper.MemberMapper">
	
	<!-- 로그인 -->
	<select id="memberLogin"
			resultType="Member">
		SELECT
			MEMBER_NO,
			MEMBER_EMAIL, 
			MEMBER_NAME, 
			MEMBER_PW,
			MEMBER_TEL, 
			MEMBER_BIRTHDAY,
			PROFILE_IMG, 
			HEIGHT,
			WEIGHT,
			TO_CHAR(ENROOL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') ENROLL_DATE
		FROM "MEMBER"
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND   MEMBER_DEL_FL = 'N'
	</select>
	
	<!-- 로그아웃 -->
	<insert id="signUp">
		INSERT INTO "MEMBER"
		VALUES(
		SEQ_MEMBER_NO.NEXTVAL, 
		#{memberEmail}, 
		#{memberPw},
	 	#{memberName}, 
	 	#{memberTel}, 
	 	, NULL, DEFAULT, DEFAULT, DEFAULT)
	</insert>
</mapper>
