<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "edu.kh.fit.member.mapper.MemberCheckPwMapper">
	
	<select id="memberCheckPw" resultType="Member">
		SELECT COUNT(*)
		FROM "MEMBER"
		WHERE MEMBER_PW = #{memberPw}
		AND MEMBER_DEL_FL = 'N'
	</select>

</mapper>
