<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mubatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="edu.kh.fit.payment.mapper.OrderMapper">

	<!-- 주문 정보 삽입 -->
	<insert id="insertOrder" parameterType="order">
		INSERT INTO "ORDER"(
			ORDER_NO,
			ORDER_CLASS_NAME,
			ORDER_CLASS_AMOUNT,
			ORDER_CURRENCY,
			ORDER_MEMBER_NAME
			) VALUES (
			#{orderNo},
			#{classTitle},
			#{paymentAmount},
			#{currency},
			#{customerName}
			)
	</insert>

</mapper>
