<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.kh.fit.payment.mapper.PaymentMapper">

    <!-- 결제자 정보 삽입 -->
    <insert id="insertPayment" parameterType="Payment">
        INSERT INTO PAYMENT (
            ORDER_NO,
            PAYMENT_MEMBER,
            PAYMENT_BOARD,
            PAYMENT_DATE,
            PAYMENT_ID,
            PAYMENT_AMOUNT
        ) VALUES (
            #{orderNo},
            #{paymentMember},
            #{paymentBoard},
            #{paymentDate},
            #{paymentId},
            #{paymentAmount}
        )
    </insert>

    <!-- 결제 정보 조회 -->
    <select id="selectPaymentById" parameterType="_int" resultType="Payment">
        SELECT 
            p.ORDER_NO,
            p.PAYMENT_MEMBER,
            p.PAYMENT_BOARD,
            p.PAYMENT_DATE,
            p.PAYMENT_ID,
            p.PAYMENT_METHOD,
            p.PAYMENT_STATUS,
            p.PAYMENT_AMOUNT,
            p.PAYMENT_CURRENCY,
            m.MEMBER_NAME AS customerName,
            m.EMAIL AS customerEmail,
            m.PHONE AS customerPhone,
            b.BOARD_TITLE AS classTitle
        FROM PAYMENT p
        JOIN MEMBER m ON p.PAYMENT_MEMBER = m.MEMBER_ID
        JOIN BOARD b ON p.PAYMENT_BOARD = b.BOARD_ID
        WHERE p.ORDER_NO = #{orderNo}
    </select>

    
    <!-- 주문 번호 생성 -->
    <select id="getOrderNo" resultType ="string">
    	SELECT
			REPLACE(
	  			TO_CHAR(CURRENT_DATE, 'YYYYMMDD')
	    		||
				TO_CHAR(SEQ_ORDER_NO.NEXTVAL, '0000'),
				' ', ''
			) ORDER_NO
		FROM DUAL
    </select>
    
    <!-- 결제자 정보 -->
	<select id="getPaymentDetail" parameterType="string" resultType="Payment">
		SELECT
			PAYMENT_ID AS paymentId,
			ORDER_NO AS orderNo,
			PAYMENT_AMOUNT AS paymentAmount,
			PAYMENT_MEMBER AS paymentMember
		FROM PAYMENT
		WHERE PAYMENT_ID = #{paymentId}
	</select>

</mapper>
