<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="du.kh.fit.trainer.mapper.TrainerMapper">
	
	<!-- (강사) 로그인 서비스 -->
	<select id="loginTrainer"
			resultType="Trainer">
		SELECT
			TRAINER_NO,
			TRAINER_EMAIL, 
			TRAINER_PW,
			TRAINER_NICKNAME, 
			TRAINER_TEL, 
			PROFILE_IMG, 
			SALES,
			TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') ENROLL_DATE,
			GENDER,
			QUALIFICATION_NO
		FROM "TRAINER"
		JOIN "QUALIFICATION" USING(TRAINER_NO)
		WHERE TRAINER_EMAIL = #{trainerEmail}
		AND   TRAINNER_DEL_FL = 'N'
	</select>


	<!-- (강사) 회원가입 -->
	<insert id="signUp">
		INSERT INTO "TRAINER"
		VALUES(
		SEQ_TRAINER_NO.NEXTVAL, 
		#{trainerEmail}, 
		#{trainerPw},
	 	#{trainerNickname}, 
	 	#{trainerTel}, 
	 	#{trainerAddress},
	 	NULL,
	 	#{qualification} <!-- 자격증 번호 or 사진 -->
	 	DEFAULT, DEFAULT, DEFAULT)
	</insert>
</mapper>
