<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.fit.trainer.mapper.TrainerMapper">
	
	<resultMap id="trainer_rm" type="Trainer">
		<id property="trainerNo" column="TRAINER_NO"/>
	
		<collection property="qualificationList"
		select="selectQualifcationlist"
		column="TRAINER_NO"
		javaType="java.util.ArrayList"
		ofType="Qualification"
		/>
	</resultMap>
	
	<select id="selectQualifcationlist" parameterType="_int" resultType="Qualification">
		SELECT  
			QUALIFICATION_NO,
			QUALIFICATION,
			QUALIFICATION_DATE
		FROM QUALIFICATION
		WHERE TRAINER_NO = #{trainerNo}
	</select>
	
	
		<!-- (강사) 회원가입 -->
	<insert id="signUp">
		INSERT INTO "TRAINER"
		VALUES(
		SEQ_TRAINER_NO.NEXTVAL, 
		#{trainerEmail}, 
		#{trainerPw},
	 	#{trainerNickname}, 
	 	#{trainerTel}, 
	 	NULL,
	 	#{qualification}, <!-- 자격증 번호 or 사진 -->
	 	DEFAULT)
	</insert>
	
	<!-- (강사) 로그인 서비스 -->
	<select id="trainerLogin"
			resultMap="trainer_rm">
		SELECT
			TRAINER_NO,
			TRAINER_EMAIL, 
			TRAINER_PW,
			TRAINER_NICKNAME, 
			TRAINER_TEL, 
			SALES,
			TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') ENROLL_DATE,
			GENDER,
			TRAINER_IMG_MAIN,
			TRAINER_IMG_MAIN_SUB,
			TRAINER_IMG_SUB,
			TRAINER_IMG_SUB_SUB
		FROM "TRAINER"
		LEFT JOIN TRAINER_IMG USING(TRAINER_NO)
		WHERE TRAINER_EMAIL = #{trainerEmail}
		AND   TRAINNER_DEL_FL = 'N'
	</select>

	<!-- 회원 정보 수정 비밀번호 확인 -->
	<select id="trainerCheckPw" resultType="string">
		SELECT TRAINER_PW
		FROM "TRAINER"
		WHERE TRAINER_NO = #{trainerNo}
		AND TRAINNER_DEL_FL = 'N'
	</select>
	
	<!-- 강사 정보 수정 -->
	<update id="updateTrainer">
		UPDATE "TRAINER"
		SET TRAINER_NICKNAME = #{trainerNickname}, 
		TRAINER_TEL = #{trainerTel}
	    WHERE TRAINER_NO = #{trainerNo}
	</update>
	
	<!-- 강사 프로필 사진 수정 -->
	<update id="updateProfileImages">
	    UPDATE TRAINER_IMG
	    SET
	        TRAINER_IMG_MAIN = #{images[0]},
	        TRAINER_IMG_MAIN_SUB = #{images[1]},
	        TRAINER_IMG_SUB = #{images[2]},
	        TRAINER_IMG_SUB_SUB = #{images[3]}
	    WHERE TRAINER_NO = #{trainerNo}
	</update>
	
	<!-- 강사 자격사항 상세조회 페이지  -->
    <select id="qualificationList" resultType="_int">
    	SELECT COUNT(*)
		FROM QUALIFICATION
		WHERE TRAINER_NO = #{trainerNo}
		ORDER BY QUALIFICATION_DATE DESC
    </select>
    
    <!-- 강사 자격사항 삭제 -->
    <delete id="deleteQulification">
    	DELETE FROM "QUALIFICATION"
    	WHERE TRAINER_NO = #{trainerNo}
    </delete>
    
    <!-- 강사 자격사항 삽입 -->
    <insert id="insertQulification">
    	INSERT INTO "QUALIFICATION"
    	<foreach collection="list" item="item" open="(" close=")" separator=" UNION ">
    		SELECT NEXT_QUALIFICATION_NO(), #{item.qualification}, #{item.qualificationDate}, ${item.trainerNo}
    		FROM DUAL
    	</foreach>
    </insert>
    
    <!-- 강사 프로필 이미지 삭제 -->
    <delete id="deleteTrainerImage">
    	DELETE FROM "TRAINER_IMG"
    	WHERE TRAINER_NO = #{trainerNo}
    </delete>
    
    <!-- 강사 프로필 이미지 삽입 -->
    <insert id="insertTrainerImage" > 
    	INSERT INTO "TRAINER_IMG"
    	VALUES (#{renameList[0]}, #{renameList[1]}, #{renameList[2]}, #{renameList[3]}, #{trainerNo})
    </insert>
		
	<!-- 강사 자격사항 추가 -->
	<insert id="insertTrainerQualification">
		INSERT INTO QUALIFICATION
		VALUES(SEQ_QUALIFICATION_NO.NEXTVAL, #{qualification}, #{qualificationDate}, DEFAULT)
	</insert>

	<!-- 강사 강의 목록 조회 -->
    <select id="classList" resultType="Board">
        SELECT BOARD_NO,
			         TITLE,
			         DETAIL,
			         TRAINER_NICKNAME,
			         BOARD_TYPE_NAME,
			         CLASS_NO
        FROM "BOARD"
        JOIN TRAINER ON (BOARD.TRAINER_NO = TRAINER.TRAINER_NO)
        JOIN BOARD_TYPE ON (BOARD.CLASS_NO = BOARD_TYPE.BOARD_TYPE_NO)
        WHERE TRAINER.TRAINER_NO = #{trainerNo}
        ORDER BY BOARD_NO  DESC
    </select>
    
    <!-- 강사 상세조회 -->
    <select id="detailTrainer" resultType="Trainer">
    	SELECT TRAINER_IMG_MAIN, TRAINER_IMG_MAIN_SUB, TRAINER_IMG_MAIN_SUB, TRAINER_IMG_SUB_SUB,
    	TRAINER_NICKNAME, QUALIFICATION_NO
		FROM TRAINER_IMG
		JOIN QUALIFICATION USING(TRAINER_NO)
		WHERE TRAINER_NO = #{trainerNo}
	</select>    
	
	
	<select id="classListCount"
					resultType="_int">
		SELECT COUNT(*)
		FROM "BOARD"
		WHERE TRAINER_NO = #{trainerNo}
		AND BOARD_DEL_FL = 'N'
	</select>
					
    
</mapper>
