<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.fit.trainer.mapper.TrainerMapper">
	
	<!-- (강사) 로그인 서비스 -->
	<select id="trainerLogin"
			resultType="Trainer">
		SELECT
			TRAINER_NO,
			TRAINER_EMAIL, 
			TRAINER_PW,
			TRAINER_NICKNAME, 
			TRAINER_TEL, 
			PROFILE_IMG, 
			SALES,
			TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') ENROLL_DATE,
			GENDER,
			QUALIFICATION_NO
		FROM "TRAINER"
		JOIN "QUALIFICATION" USING(TRAINER_NO)
		WHERE TRAINER_EMAIL = #{trainerEmail}
		AND   TRAINNER_DEL_FL = 'N'
	</select>


	<!-- (강사) 회원가입 -->
	<insert id="signUp">
		INSERT INTO "TRAINER"
		VALUES(
		SEQ_TRAINER_NO.NEXTVAL, 
		#{trainerEmail}, 
		#{trainerPw},
	 	#{trainerNickname}, 
	 	#{trainerTel}, 
	 	NULL,
	 	#{qualification} <!-- 자격증 번호 or 사진 -->
	 	DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<!-- 회원 정보 수정 비밀번호 확인 -->
	<select id="trainerCheckPw" resultType="string">
		SELECT TRAINER_PW
		FROM "TRAINER"
		WHERE TRAINER_NO = #{trainerNo}
		AND TRAINNER_DEL_FL = 'N'
	</select>
	
	<!-- 강사 정보 수정 -->
	<update id="updateTrainer">
		UPDATE "TRAINER"
		SET TRAINER_NICKNAME = #{trainerNickname}, TRAINER_TEL = #{trainerTel}
		WHERE TRAINER_NO = #{trainerNo}
	</update>
	
	<!-- 프로필 이미지 수정 -->
	<update id="profile">
		UPDATE "TRAINER"
		SET PROFILE_IMG = #{url}
		WHERE TRAINER_NO = #{trainerNo}
	</update>
	
	<!-- 강사 자격사항 추가 -->
	<insert id="insertTrainerQualification">
		INSERT INTO QUALIFICATION
		VALUES(SEQ_QUALIFICATION_NO.NEXTVAL, #{qualification},  DEFAULT, DEFAULT, DEFAULE, #{qualificationDate})
	</insert>

	<!-- 강사 강의 목록 조회 -->
    <select id="classList" resultType="Board">
        SELECT BOARD_NO, TITLE, DETAIL, TRAINER_NICKNAME, BOARD_TYPE_NAME
        FROM "BOARD"
        JOIN TRAINER ON (BOARD.TRAINER_NO = TRAINER.TRAINER_NO)
        JOIN BOARD_TYPE ON (BOARD.CLASS_NO = BOARD_TYPE.BOARD_TYPE_NO)
        WHERE TRAINER.TRAINER_NO = #{trainerNo}
        ORDER BY BOARD_NO  DESC
    </select>
    
    <!-- 강사 상세조회 -->
    <select id="detailTrainer" resultType="Trainer">
	    SELECT PROFILE_IMG, QUALIFICATION_NO, QUALIFICATION, AWARD, CAREER, QUALIFICATION_DATE
	    FROM QUALIFICATION
	    JOIN TRAINER USING(TRAINER_NO)
	    WHERE TRAINER_NO = #{trainerNo} <!-- 수정된 부분 -->
	    ORDER BY QUALIFICATION_DATE DESC
	</select>
    
    <!-- 강사 자격사항 상세조회 -->
    <select id="qualificationList" resultType="_int">
    	SELECT COUNT(*)
		FROM QUALIFICATION
		WHERE TRAINER_NO = #{trainerNo}
		ORDER BY QUALIFICATION_DATE DESC
    </select>
</mapper>
