<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fitory - Board Detail</title>
  <link rel="stylesheet" href="/css/board/boardDetail.css">
</head>

<body>
  <!-- 공통 조각 삽입 (헤더 포함) -->
  <th:block th:replace="~{common/common}"></th:block>

  <!-- 메인 콘텐츠 영역 -->
  <main class="main-content" th:object="${board}">
    <br><br>

    <span th:text="${userType}"></span> <!-- userType이 제대로 출력되는지 확인 -->

    <div class="wrapper">
      <div class="post-container">
        <!-- 비디오 플레이어 삽입 -->
        <div id="video-player" th:data-user-type="${userType}" th:data-class-no="*{classNo}"
          th:data-board-no="*{boardNo}"></div>

        <div class="post-header">
          <h1 class="post-title" th:text="*{title}">게시글 제목</h1>
          <h3 class="post-board-name" th:text="*{classNo == 1 ? 'Home Training' : 'Home Gym'}">게시판 이름</h3>
          <h3 class="post-trainer-name" th:text="*{trainerNickname}">강사 이름</h3>
          <h3 class="post-rating" th:text="*{grade}">별점 정보 없음</h3>

          <!-- 수정 및 삭제 버튼 (강사 로그인 상태이면서 작성자일 때만 표시) -->
          <div th:if="${userType == 'trainer' and user != null and board.trainerNickname == user.trainerNickname}"
            class="edit-buttons">
            <div>
              <button class="edit-btn">수정</button>
              <button class="edit-btn">삭제</button>
            </div>
          </div>

        </div>

      </div>

      <!-- 팝업 모달 -->
      <div id="video-popup" class="popup" style="display: none;">
        <h1>영상을 이어보시겠습니까?</h1>
        <div class="popup-buttons">
          <button id="continue-video" class="popup-btn continue">영상 이어보기(결제)</button>
          <button id="stop-video" class="popup-btn stop">리뷰 읽기</button>
        </div>
      </div>

      <!-- 유튜브 영상 삽입 (주석처리) -->
      <!-- <div id="youtube-player" th:data-detail="${board.detail}"></div> -->

    </div>
    </div>


  </main>

  <!-- 댓글 섹션 삽입 -->
  <th:block th:replace="~{board/comment :: comment-section}"></th:block>

  <!-- 푸터 조각 삽입 -->
  <footer th:replace="~{common/footer :: footer}"></footer>

  <script th:inline="javascript">
    // 서버에서 전달받은 board 객체를 JSON 형태로 변환하여 JavaScript 변수에 담음
    var board = /*[[${board}]]*/ {};
    var userType = /*[['${userType}']]*/ '';
  </script>

  <!-- JavaScript 파일 연결 -->
  <script src="/js/board/boardDetail.js"></script>

</body>

</html>