<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="@{/css/signUp/signUp-style.css}" />
    <link rel="stylesheet" href="{/css/signUp/signUp-styleguide.css}" />
    <link rel="stylesheet" href="{/css/signUp/signUp-globals.css}" />
  </head>
  <body>
    <div class="element">
      <div class="div">
        <div class="overlap">
          <div class="plain-tooltip"><div class="supporting-text"></div></div>
          <div class="rectangle"></div>
          <div class="text-wrapper">이름</div>
          <div class="rectangle-2"></div>
          <div class="text-wrapper-2">비밀번호 입력</div>
          <div class="text-wrapper-3">비밀번호</div>
          <div class="text-wrapper-4">이메일 인증</div>
          <div class="rectangle-3"></div>
          <div class="text-wrapper-5">이름 입력</div>
          <div class="rectangle-4"></div>
          <div class="text-wrapper-6">이메일을 입력 해 주세요</div>
          <div class="text-wrapper-7">아이디(Email)</div>
          <button class="button">
            <div class="state-layer"><div class="label-text">중복검사</div></div>
          </button>
          <div class="segmented-button">
            <div class="segment-start">
              <div class="container">
                <div class="state-layer-2">
                  <p class="p"><span class="span">일반 </span> <span class="text-wrapper-8">회원가입</span></p>
                </div>
              </div>
            </div>
            <div class="segment-end">
              <div class="state-layer-wrapper">
                <div class="state-layer-2"><div class="label-text-2">강사 회원가입</div></div>
              </div>
            </div>
          </div>
          <div class="text-wrapper-9">01:00</div>
          <button class="div-wrapper">
            <div class="state-layer"><div class="label-text">인증확인</div></div>
          </button>
          <div class="text-wrapper-10">이메일 인증 확인</div>
          <div class="building-blocks">
            <div class="tab-contents-wrapper">
              <div class="tab-contents"><div class="label">▲</div></div>
            </div>
          </div>
          <div class="text-wrapper-11">자격사항</div>
          <div class="rectangle-5"></div>
          <div class="text-wrapper-12">전화번호</div>
          <div class="text-wrapper-13">생년월일</div>
          <div class="rectangle-6"></div>
          <div class="text-wrapper-14">‘-’&nbsp;&nbsp;빼고 숫자만 입력</div>
          <div class="rectangle-7"></div>
          <p class="text-wrapper-15">경력 기간, 자격증, 대회 수상 목록을 작성해주세요.</p>
          <div class="text-wrapper-16">YYYYMMDD</div>
          <div class="rectangle-8"></div>
          <div class="text-wrapper-17">비밀번호를 확인해주세요</div>
          <div class="text-wrapper-18">비밀번호 확인</div>
          <button class="button-2">
            <div class="state-layer"><div class="label-text">추가하기</div></div>
          </button>
          <div class="rectangle-9"></div>
          <p class="text-wrapper-19">경력 기간, 자격증, 대회 수상 목록을 작성해주세요.</p>
          <button class="button-3">
            <div class="state-layer"><div class="label-text">추가하기</div></div>
          </button>
          <button class="button-4">
            <div class="state-layer"><div class="label-text-3">인증번호</div></div>
          </button>
          <div class="rectangle-5"></div>
          <div class="text-wrapper-20">‘-’&nbsp;&nbsp;빼고 숫자만 입력</div>
          <button class="button-4">
            <div class="state-layer"><div class="label-text">인증번호</div></div>
          </button>
          <div class="rectangle-10"></div>
          <div class="text-wrapper-21">전화번호 인증 확인</div>
          <div class="text-wrapper-22">인증번호를 입력해주세요.</div>
          <div class="text-wrapper-23">01:00</div>
          <button class="button-5">
            <div class="state-layer"><div class="label-text">인증확인</div></div>
          </button>
          <div class="rectangle-11"></div>
          <div class="text-wrapper-24">약관</div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group">
              <img class="img" src="img/rectangle-15.svg" />
              <div class="text-wrapper-25">가입하기</div>
            </div>
          </div>
        </div>
        
        <div class="text-wrapper-27">강사 회원가입</div>
      </div>
    </div>
  </body>
</html>