@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}

*{
	font-family: 'MaruBuriSemiBold';
}

input::placeholder {
	text-align: left;
	font-size: 15px;
}

.main {
	min-height: 100vh;
	min-width: 50vw;
	padding-left: 10%;
	margin: auto;
	margin-top: 5%;
	margin-left: 10%;
	justify-content: center;
	/* border: 1px solid; */
	padding-right: 3%;
	margin-bottom: 10%;

}

.box{ width: 100%;}

.box > tbody > tr {
	padding: 10%;
	margin: 10%;
}

.box > tbody > tr > th:first-child{
	width: 40%;
	height: 20%;
	color: #2d2d2d;
}

.box > tbody > tr > th:last-child{
	width: 5%;
	color: #2d2d2d;
}


.box > tbody > tr > td{
	width: 75%;
	color: #2d2d2d;
}

/* main 박스 */
.main-box{
	border: 5px solid;
	color: #bfbfbf;
	margin: auto;
	padding-top: 2%;
	min-height: 100vh;
	padding-right: 10%;
	padding: 3%;
	min-width: 50vw;
}
.main-class{
	color: #2d2d2d;
	font-size: 32px;
	text-shadow: 10px #bfbfbf;
	padding-top: 60px;
	padding-bottom: 2%;
}

.select{
	color: #2d2d2d;
	font-size: 14px;
	text-shadow: 10px #bfbfbf;
  float: right;
}

.container > #selectType{
	color: #2d2d2d;
	font-size: 14px;
	text-shadow: 10px #bfbfbf;
  float: right;
}


#checkbox{
	float: right;
  display: flex;
}


/* 수정하기 버튼 */
.update {
	color: #bfbfbf;
	padding: 0.8% 1%;
	margin: auto;
	justify-content: center;
	text-align: center;
	width: 50%;
  border-radius: 20px 0px 0px 20px;
  float: left;
  background-color: #bfbfbf00;
}
.delete{
	color: rgb(255, 255, 255);
	background-color: #bfbfbf;
	padding: 0.8% 1%;
	margin: auto;
	justify-content: center;
	text-align: center;
	width: 50%;
  float: right;
  border-radius: 0px 20px 20px 0px;
}

.update:hover {
  background-color: #bfbfbf;
  color: rgb(255, 255, 255);
}
.delete:hover {
	color: #757575;
  background-color: rgb(255, 255, 255)
}

/* 탑버튼 */
.top {
	color: rgb(255, 255, 255);
	background-color: #bfbfbf;
	padding: 1%;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	position: sticky;
	float: right;
}

.top:hover {
	color: #2d2d2d;
}

/* 페이지네이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* 페이지 버튼 간 간격을 줄임 */
  margin-top: 2%; /* 페이지네이션과 콘텐츠 사이의 간격 */
  font-size: 15px;
  padding: 8% 0% 0% 0%;
}

.pagination a {
  text-decoration: none;
  color: #bfbfbf;
  padding: 10%; 
}