<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 찾기</title>
  <link rel="stylesheet" th:href="@{/css/login/findPw.css}">
</head>
<body>
  <th:block th:replace="~{common/common}"></th:block>
  <main>
    <section class="main">
        <div class="title">
          <h2>비밀번호 찾기</h2>
        </div>
        <div class="main-box">
          <div class="findPw-options">
            <button class="memberBtn" id="member">회원 비밀번호 찾기</button>
            <button class="trainerBtn" id="trainer">
              <a href="/trainer/findPw">강사 비밀번호 찾기</a>
            </button>
          </div>
          
          <!-- 회원 비밀번호 찾기 클릭 시 -->
          <form action = "/member/findPw" method="post" name="findPwForm" id="findPwForm"></form>
          <div class="signUp-content" id="memberContent" style="display:block">
            <label for="memberEmail">
              *<span class="required">아이디(Email)</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="memberEmail" id="email"
              placeholder="이메일을 입력해주세요" maxlength="30" autocomplete="off">
              <button id="sendAuthKeyBtn" type="button">인증번호 받기</button>
            </div>
            
            <label for="emailCheck">
              *<span class="required">이메일 인증</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="authKey" id="authKey"
              placeholder="이메일 인증 확인" maxlength="6" autocomplete="off">
              <button id="checkAuthKeyBtn" type="button">인증하기</button>
              <span class="emailMessage" id="emailMessage">메일을 받을 수 있는 이메일을 입력해주세요.</span>
            </div>
            <span class="signUp-message" id="authKeyMessage"></span>
            <!-- 인증번호가 일치하지 않습니다 -->

            <button type="submit" class="findPw">비밀번호 찾기</button>
          </form>
        </div>
    </section>
  </main>
  
  <th:block th:replace="~{common/footer::footer}"></th:block>
  <script src="/js/login/trainerFindPw.js"></script>
</body>
</html>