<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FITORY 회원가입 페이지</title>
  <link rel="stylesheet" href="/css/login/signUp.css">
</head>
<body>
  <!-- 공통 조각 삽입 (헤더 포함) -->
  <th:block th:replace="~{common/common}"></th:block>

  <main>
    <div class="signUp-container">
      <section class="signUp">
        <h2>회원가입</h2>

        <form action="/trainer/signUp" method="post" name="signUpForm" id="signUpForm">
          <div class="signUp-options">
            <input type="radio" id="member" name="signUpType" value="member">
            <label for="member" class="signUp-option">
              <a href="/signUp">일반 회원가입</a>
            </label>
            <input type="radio" id="trainer" name="signUpType" value="trainer" checked >
            <label for="trainer" class="signUp-option">
              <a href="/trainer/signUp">강사 회원가입</a>
            </label>
          </div>
    
          <div class="signUp-content" id="trainerContent" style="display:block">
            <label for="email">
              *<span class="required">아이디(Email)</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="trainerEmail" id="email"
              placeholder="이메일을 입력해주세요" maxlength="30" autocomplete="off">
              <button class="btn" id="sendAuthKeyBtn" type="button">인증번호 받기</button>
            </div>

            <label for="emailCheck">
              *<span class="required">이메일 인증</span>
            </label>
            <span class="nextText" id="emailMessage">메일을 받을 수 있는 이메일을 입력해주세요.</span>
            <div class="signUp-input-area">
              <input type="text" name="authKey" id="authKey"
              placeholder="이메일 인증 확인" maxlength="6" autocomplete="off">
              <button class="btn" id="checkAuthKeyBtn" type="button">인증하기</button>
            </div>
            <span class="signUp-message" id="authKeyMessage"></span>
            <!-- 인증번호가 일치하지 않습니다 -->
            
            <label for="trainerNickame">
             *<span class="required">이름</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="trainerNickname" id="name"
              placeholder="이름 입력" maxlength="6" autocomplete="off">
            </div>
            
            <label for="trainerPw">
              *<span class="required">비밀번호</span>
            </label>
            <div class="signUp-input-area">
              <input type="password" name="trainerPw" id="pw"
              placeholder="비밀번호 입력" maxlength="30" autocomplete="off">
            </div>
      
            <label for="PwCheck">
             *<span class="required">비밀번호 확인</span>
            </label>
            <span class="nextText" id="pwMessage">영어,숫자,특수문자 1글자 이상, 6~20자 사이.</span>
            <div class="signUp-input-area">
              <input type="password" name="pwCheck" id="pwCheck"
              placeholder="비밀번호를 확인해주세요" maxlength="30" autocomplete="off">
            </div>
      
            <label for="trainerBirthday">
              <span class="required">생일</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="trainerBirthday" id="birthday"
              placeholder="YYYYMMDD" maxlength="8" autocomplete="off">
            </div>
      
            <label for="trainerTel">
              *<span class="required">전화번호</span>
            </label>
            <span class="nextText" id="telMessage">전화번호를 입력해주세요.(- 제외)</span>
            <div class="signUp-input-area">
              <input type="text" name="trainerTel" id="tel"
              placeholder=" '-' 빼고 숫자만 입력" maxlength="11" autocomplete="off">
            </div>      

            <span class="signUp-message" id="telMessage">전화번호를 입력해주세요.(- 제외)</span>
            <div class="main-in">자격사항</div>
            <table class="qualification-table">
              <thead>
                <tr>
                  <th>자격사항</th>
                  <th class="date-th">
                    취득일
                    <button type="button" value="+" class="plus" id="plus">+</button>
                  </th>
                </tr>
              </thead>
              <tbody id="tbody">
                <tr th:each="qual, stat : ${session.trainerLogin?.qualificationList}" th:data-no="${qual.qualificationNo}">
                  <td>
                    <input class="review" name="qName" th:value="${qual.qualification}" placeholder="자격사항을 작성해주세요.">
                  </td>
                  <td>
                    <input class="date" type="date" name="qDate" th:value="${qual.qualificationDate}">
                  </td>
                  <td th:if="${stat.index > 0}">
                    <button type="button" class="qualificationRemovebtn">-</button>
                  </td>
                </tr>
              </tbody>
            </table>

            <label for="provision" id="provision" class="provisionText">
              <span class="required"> <약관> </span>
              <div class="provision">약관내용</div> 
            </label>
          
            <div class="checkbox-container">
              <input type="checkbox" id="agreeBtn" name="agreeBtn"></input>
              <label for="checkbox">위의 내용에 동의 합니다</label>
            </div> 
          
            <button id="signUpBtn">가입하기</button>
          </div>
      
        </form>
      </section>
    </div>
  </main>

  <!-- 푸터 조각 -->
  <th:block th:replace="~{common/footer}"></th:block>
  
  <script src="/js/signUp/trainerSignUp.js"></script>
</body>
</html>