<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>강사 프로필</title>
  <link rel="stylesheet" href="/css/trainer/trainerProfile.css">
  <link rel="stylesheet" href="../../static/css/trainer/trainerProfile.css">
</head>

<body>
  <th:block th:replace="~{common/common}"></th:block>
  <main class="main" th:object="${board}">

    <div class="main-box">
      <div class="main-title">TRAINER PROFILE</div>
          <h2 class="profile" th:text="*{trainerProfile}">강사 프로필</h2>
          <span class="uploadDate">작성일 정보 없음</span>
          <span class="uploadRating">별점 정보 없음</span>
        </div>
        
        <div class="box">
          <p class="review">한줄평 정보 없음</p>
        </div>

        <!-- 팝업 모달 -->
        <div id="video-popup" class="popup" style="display: none;">
          <h2>영상을 이어보시겠습니까?</h2>
          <div class="popup-buttons">
            <button id="continue-video" class="popup-btn continue">영상 이어보기(결제)</button>
            <button id="stop-video" class="popup-btn stop">리뷰 읽기</button>
          </div>
          
        <div th:replace="common/footer :: footer"></div>

        <script src="/js/trainer/trainerProfile.js"></script>
</body>
</html>