<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세 조회</title>
  <link rel="stylesheet" href="/css/trainer/trainerDetail">
</head>

<body>
  <block th:replace="~{common/common}"></block>
  <form action="/trainer/trainerDetail/${trainerNo}" method="GET" name="trainerDetailCheck" id="trainerCheck" class="main"
    th:object="${trainerNo}">

    <div class="main-title">TRAINEL PROPLE</div>
    <div class="main-box">
      <div class="profile-box">
        <div class="profile-image-area">
          <img th:with="trainer=#{prifoleImg}" th:src="${session.trainerLogin?.profileImg ?: trainerNo}" id="profileImg">
        </div>
      </div>
      <button class="watch" id="watch"> 강사 영상 보러가기 </button>
    </div>
    <table class="qualification-table">
      <thead>
        <tr>
          <td>자격사항</td>
          <td class="date-th">취득일</td>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr th:each="qualification:${qualificationList}" th:object="${qualification}">
          <!-- <td>
            <th:block th:if="*{type == '리뷰'}">
              <a th:href="|/board/*{commentNo}|" th:text="*{reviewContent}">자격 정보</a>
            </th:block>
          </td> -->
        <tr>
          <td th:text="${qualification}">자격 정보</td>
          <td th:text="${qualificationNo}">취득일</td>
        </tr>

          <!-- 페이지 -->
          <div class="pagination" th:object="${pagination}">

            <!-- 첫 페이지로 이동 -->
            <a href="#">&lt;&lt;</a>

            <!-- 이전 목록 마지막 번호로 이동 -->
            <a href="#">&lt;</a>

            <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
              <li th:if="${i} == *{currentPage}">
                <a class="current" th:text="${i}">현재 페이지</a>
              </li>

              <!-- 보고있지 않은 페이지 -->
              <li th:unless="${i} == *{currentPage}">
                <a href="#" th:text="${i}">이동할 수 있는 페이지</a>
              </li>
            </th:block>

            <!-- 다음 목록 시작 번호로 이동 -->
            <a href="#">&gt;</a>

            <!-- 끝 페이지로 이동 -->
            <a href="#">&gt;&gt;</a>
          </div>
      </tbody>
    </table>
  </form>

  <!-- 탑버튼 -->
  <button class="top">▲</button>
  </div>
  <script th:inline="javascript">
    const pagination = /*[[${pagination}]]*/ "페이지네이션객체";
  </script>
  <div th:replace="common/footer :: footer"></div>
  <script src="/js/trainer/trainer.js"></script>
</body>

</html>