<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세 조회</title>
  <link rel="stylesheet" href="/css/trainer/trainerDetail">
</head>

<body>
  <block th:replace="~{common/common}"></block>
  <form action="/trainer/{trainerNo:[0-9]+}" method="GET" name="trainerDetailCheck" id="trainerCheck" class="main"
    th:object="${trainerNo}">

    <div class="main-title">TRAINEL PROPLE</div>
    <div class="main-box">
      <div class="profile-box">
        <div class="profile-image-area">
          <img th:with="trainer=#{trainerImg}" th:src="${session.trainerLogin.profileImg ?: trainer}" id="profileImg">
        </div>
      </div>
      <button class="watch" id="watch"> 강사 영상 보러가기 </button>
    </div>
    <table class="qualification-table">
      <thead>
        <tr>
          <th>자격사항</th>
          <th class="date-th">취득일</th>
        </tr>
      </thead>
      <tbody id="tbody">
        <tr>
          <td th:text="${qualification}">자격 정보</td>
          <td th:text="${career}">문의 종류</td>
        </tr>
        <!-- 페이지네이션 -->
        <div class="pagination">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#">6</a>
          <a href="#">7</a>
          <a href="#">8</a>
          <a href="#">9</a>
          <a href="#">10</a>
        </div>
      </tbody>
    </table>
  </form>
  </div>
  <div th:replace="common/footer :: footer"></div>
  <script src="/js/trainer/trainer.js"></script>
</body>

</html>