<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상세 조회</title>
  <link rel="stylesheet" href="/css/trainer/trainerDetail.css">
</head>

<body>
  <block th:replace="~{common/common}"></block>
  <div class="main">
    <div class="main-title">TRAINEL PROPLE</div>
    <div class="main-box">
      <div class="profile-box">
        <img class="previewMain" id="trainerImgMain"
          th:src="${trainer.trainerImgMain != null ? trainer.trainerImgMain : '/images/trainer.default.image.jpg'}"
          alt="Profile Image">
      </div>
      <div class="subProfile-box">
        <img class="previewSub" id="trainerImgMainSub"
          th:src="${trainer.trainerImgMainSub != null ? trainer.trainerImgMainSub : '/images/trainer.default.image.jpg'}"
          alt="Profile Image">
        <img class="previewSub" id="trainerImgSub"
          th:src="${trainer.trainerImgSub != null ? trainer.trainerImgSub : '/images/trainer.default.image.jpg'}"
          alt="Profile Image">
        <img class="previewSub" id="trainerImgSubSub"
          th:src="${trainer.trainerImgSubSub != null ? trainer.trainerImgSubSub : '/images/trainer.default.image.jpg'}"
          alt="Profile Image">
        </div>
        <a class="watch" id="watch" th:href="@{/trainer/trainerVideoDetail/{trainerNo}(trainerNo=${trainer.trainerNo}, cp=1, sort='latest')}">강사 영상 보러가기</a>
      <div class="name" th:text="|강사 이름 : ${trainer.trainerNickname}|">강사 이름</div>

      <div class="main-in">자격사항</div>
      <table class="table">
        <thead>
          <tr>
            <th>자격사항</th>
            <th class="date-th">취득일</th>
          </tr>
        </thead>
        <tbody id="tbody">
          <tr th:each="qual, stat : ${qualiList}" th:data-no="${qual.qualificationNo}">
            <td>
              <span class="review" th:text="${qual.qualification}"></span>
            </td>
            <td>
              <span class="date" th:text="${qual.qualificationDate}"></span>
            </td>
          </tr>
        </tbody>
      </table>
    
      <!-- 페이지 -->
      <div class="pagination" th:object="${pagination}">
    
        <!-- 첫 페이지로 이동 -->
        <a href="#">&lt;&lt;</a>
    
        <!-- 이전 목록 마지막 번호로 이동 -->
        <a href="#">&lt;</a>
    
        <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
          <li th:if="${i} == *{currentPage}">
            <a class="current" th:text="${i}">현재 페이지</a>
          </li>
    
          <!-- 보고있지 않은 페이지 -->
          <li th:unless="${i} == *{currentPage}">
            <a href="#" th:text="${i}">이동할 수 있는 페이지</a>
          </li>
        </th:block>
    
        <!-- 다음 목록 시작 번호로 이동 -->
        <a href="#">&gt;</a>
    
        <!-- 끝 페이지로 이동 -->
        <a href="#">&gt;&gt;</a>
      </div>
    </div>

    <script th:inline="javascript">
      const pagination = /*[[${pagination}]]*/ "페이지네이션객체";
    </script>
    <div th:replace="common/footer :: footer"></div>
    <script src="/js/trainer/trainer.js"></script>
</body>

</html>