<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitory - Trainer Profiles</title>
    <link rel="stylesheet" th:href="@{/css/trainer/trainer.css}">
</head>
<body>

    <!-- header fragment include -->
    <block th:replace="~{common/common}"></block>

    <!-- 메인 콘텐츠 -->
    <main>
        <h1>NEW TRAINER PROFILE</h1>
        <section class="teacher-profiles">
            <div class="profile">
                <img src="/images/teacher1.jpg" alt="강진형">
                <p>강진형</p>
            </div>
            <div class="profile">
                <img src="/images/teacher2.jpg" alt="고현우">
                <p>고현우</p>
            </div>
            <div class="profile">
                <img src="/images/teacher3.jpg" alt="김대현">
                <p>김대현</p>
            </div>
            <div class="profile">
                <img src="/images/teacher4.jpg" alt="성상민">
                <p>성상민</p>
            </div>
            <div class="profile">
                <img src="/images/teacher7.jpg" alt="이소진">
                <p>이소진</p>
            </div>
        </section>

        <!-- 페이지네이션 -->
        <div class="pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">7</a>
            <a href="#">8</a>
            <a href="#">9</a>
            <a href="#">10</a>
        </div>
    </main>

   <!-- footer fragment include -->
   <div th:replace="common/footer :: footer"></div>

    <script src="/js/trainer/trainer.js"></script>
</body>
</html>
