/* 기본적인 레이아웃 설정 */
body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* 헤더 스타일 */
header {
  background-color: #ccc;
  padding: 20px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

/* 메인 섹션 스타일 */
section.signUp {
  width: 50%;
  margin: 40px auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

/* 입력 필드 및 버튼 스타일 */
label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}

.signUp-input-area {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  background-color: #fff;
  color: #333;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ccc;
}

/* 비밀번호 메시지 스타일 */
.pwMessage {
  font-size: 14px;
  margin-left: 10px;
}

/* 비밀번호 찾기 버튼 스타일 */
button.changePw {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

button.changePw:hover {
  background-color: #ccc;
}
