
@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}
* {
	font-family: 'MaruBuriSemiBold';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input::placeholder {
	text-align: left;
	font-size: 15px;
}

/* 메인 레이아웃 */
.main {
	min-height: 50vh;
	min-width: 50vw;
	margin: auto;
	margin-top: 10%;
	margin-left: 10%;
	margin-right: 10%;
	justify-content: center;
  padding-bottom: 10%;
}

/* 타이틀 */
.title {
	color: #292929;
	font-size: 20px;
	text-shadow: 1px #bfbfbf;
	margin-bottom: 20px;
}

/* main 박스 */
.main-box {
	border: 2px solid #bfbfbf;
	margin: auto;
	padding: 3%;
	min-height: 50vh;
	min-width: 50vw;
}


/* 버튼 옵션 스타일 */
.findPw-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.findPw-options button {
  padding: 10px 20px;
  background-color: #bfbfbf;
  color: #292929;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.findPw-options button:hover {
  background-color: #292929;
  color: #bfbfbf;
}

/* 입력 필드 및 버튼 스타일 */
label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}

.signUp-input-area {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

input[type="text"],
input[type="email"] {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  margin-right: 10px;
}

button {
  background-color: #bfbfbf;
  color: #292929;
  padding: 10px 15px;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #292929;
  color: #bfbfbf;
}

/* 이메일 메시지 스타일 */
.emailMessage {
  font-size: 14px;
  margin-left: 10px;
}

/* 인증 메시지 출력 스타일 */
#authKeyMessage {
  font-size: 14px;
  margin-top: 10px;
}

#authKeyMessage.confirm {
  color: green;
}

#authKeyMessage.error {
  color: red;
}

/* 비밀번호 찾기 버튼 스타일 */
button.findPw {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: #bfbfbf;
  color: #292929;
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

button.findPw:hover {
  background-color: #292929;
  color: #bfbfbf;
}