.right-menu {
  display: flex;
  align-items: center;
}

.right-menu a {
  margin-left: 15px;
  text-decoration: none;
  color: #292929;
  font-weight: bold;
}

.search-box {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 5px;
  border: 1px solid #bfbfbf;
  border-radius: 5px 0 0 5px;
}

.search-box button {
  padding: 6px 12px;
  border: 1px solid #292929;
  border-left: none;
  background-color: #bfbfbf;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

/* 메인 콘텐츠 스타일 */
.main-content {
  margin-left: 17%; /* 사이드바 폭을 피해서 배치 */
  padding: 20px;
  margin-top: 90px; /* 헤더와의 간격 */
  flex: 1; /* 푸터를 제외한 나머지 공간을 차지 */
}

/* 테이블 스타일 */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th, table td {
  border: 1px solid #292929;
  padding: 15px;
  text-align: center;
  background-color: #bfbfbf;
}

table th {
  background-color: #bfbfbf;
  font-weight: bold;
}

.detail-btn {
  background-color: #bfbfbf;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.detail-btn:hover {
  background-color: #292929;
  color: bfbfbf;
}

/* 페이지네이션 스타일 */
.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.pagination a:hover {
  text-decoration: underline;
}