.faq-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  margin-bottom: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  scroll-margin-top: 150px; /* 헤더 높이를 고려한 마진 */
}
.supporting-text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.3s ease-out;
  padding: 0;
  background-color: #f0f0f0;
  margin-left: 20px;
}
.arrow-icon {
  margin-right: 8px;
  transition: transform 0.3s ease;
}
.arrow-icon.open {
  transform: rotate(90deg);
}
.text-wrapper{
  margin-top: 5%;
  text-align: center;
}
