@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}
input::placeholder {
  text-align: left;
  font-size: 15px;
}
.main {
  font-family: "MaruBuriSemiBold", Helvetica;
  min-height: 100hv;
  min-width: 50vw;
  padding-left: 20%;
  margin: auto;
  justify-content: center;
  /* border: 1px solid; */
  padding-right: 3%;
}
/* main 박스 */
.main-box{
  border: 5px solid;
  color: #bfbfbf;
  margin: auto;
  margin-top: 3%;
  min-height: 100hv;
  padding-right: 20%;
  padding: 3%;
}
.main-my-page{
  color: black;
  font-size: 32px;
  font-family: "MaruBuriSemiBold", Helvetica;
  text-shadow: 10px #bfbfbf;
}

/* 아이디 */
.email{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: black;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;

}
.box {
  border: 1px solid;
  color:black;
  font-family: "MaruBuriSemiBold", Helvetica;
  justify-content: center;
  display: flex;
  margin: 2% 0% 2%;
  padding: 5px;
  width: 100%;
}

/* 이메일 인증 */
.email-ok{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: black;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;
}

/* 이름 */
.name{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: black;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;
}

/*  생년월일 */
.birth{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: black;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;
}

/* 전화번호 */
.tel{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: black;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;
}

/* 키 */
.hight{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: black;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;
  position: relative;
}
.inHight::after{
  content: 'cm';
  font-family: "MaruBuriSemiBold", Helvetica;
  color: #bfbfbf;
  font-size: 16px;
  position: absolute;
  right: 14px;
  bottom: -37px;
}

/* 몸무게 */
.weight{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: black;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;
  position: relative;
}
.inWeight::after{
  content: 'kg';
  font-family: "MaruBuriSemiBold", Helvetica;
  color: #bfbfbf;
  font-size: 16px;
  position: absolute;
  right: 14px;
  bottom: -37px;
}
/* 체형
.body{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: black;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;
}

다이어트 
.die{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: black;
  display: flex;  
  margin: 0% 0% 2% 0%;
  font-size: 20px;
} */

/* 수정하기 버튼 */
.update{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: rgb(255, 255, 255);
  background-color: #bfbfbf;
  padding: 0.8% 1%;
  margin: auto;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: 20px;
}
.update:hover{
  color: rgba(78, 78, 78, 0.200);
}

/* 탑버튼 */
.top {
	font-family: "MaruBuriSemiBold", Helvetica;
	color: rgb(255, 255, 255);
	background-color: #bfbfbf;
	padding: 1%;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	position: sticky;
	float: right;
}
.top:hover{
  color: rgba(78, 78, 78, 0.200);
}