@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}
input::placeholder {
  text-align: left;
  font-size: 15px;
}
.main {
	font-family: "MaruBuriSemiBold", Helvetica;
	min-height: 100vh;
	min-width: 50vw;
	padding-left: 10%;
	margin: auto;
	margin-top: 5%;
	margin-left: 10%;
	justify-content: center;
	/* border: 1px solid; */
	padding-right: 3%;
	margin-bottom: 10%;
}
/* main 박스 */
.main-box{
	border: 5px solid;
	color: #bfbfbf;
	margin: auto;
	padding-top: 2%;
	min-height: 100vh;
	padding-right: 10%;
	padding: 3%;
	min-width: 50vw;
}
.main-my-page{
	color: #292929;
	font-size: 32px;
	font-family: "MaruBuriSemiBold", Helvetica;
	text-shadow: 10px #bfbfbf;
	padding-top: 60px;
	padding-bottom: 2%;
}

/* 아이디 */
.email{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: #292929;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;

}
.box {
  border: 1px solid;
  color:#292929;
  font-family: "MaruBuriSemiBold", Helvetica;
  justify-content: center;
  display: flex;
  margin: 2% 0% 2%;
  padding: 5px;
  width: 100%;
}

/* 이메일 인증 */
.email-ok{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: #292929;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;
}

/* 이름 */
.name{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: #292929;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;
}

/*  생년월일 */
.birth{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: #292929;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;
}

/* 전화번호 */
.tel{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: #292929;
  display: flex;
  margin: 0% 0% 2% 0%;
  font-size: 20px;
}

/* 수정하기 버튼 */
.update{
  font-family: "MaruBuriSemiBold", Helvetica;
  color: rgb(255, 255, 255);
  background-color: #bfbfbf;
  padding: 0.8% 1%;
  margin: auto;
  justify-content: center;
  text-align: center;
  width: 100%;
  border-radius: 20px;
}
.update:hover{
  color: rgba(78, 78, 78, 0.200);
}

/* 탑버튼 */
.top {
	font-family: "MaruBuriSemiBold", Helvetica;
	color: rgb(255, 255, 255);
	background-color: #bfbfbf;
	padding: 1%;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	position: sticky;
	float: right;
}
.top:hover{
  color: rgba(78, 78, 78, 0.200);
}

/* 이미지를 감싸는 div */
.boardImg{
  width: 230px;
  height: 230px;
  display: inline-block;
  text-align: center;

  position: relative;
}

.boardImg > label{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
}

.inputImage{
  display: none;
}


/* 이미지 */
.boardImg img{
  max-width: 100%;
  max-height: 100%;
}

/* 썸네일만 이미지 크게 */
.thumbnail{
  width: 300px;   
  height: 300px;
}