@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"),url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}

/* 공통 스타일 */
* {
  font-family: "MaruBuriSemiBold", Helvetica;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input::placeholder {
  text-align: left;
  font-size: 15px;
}

/* 컨테이너 및 메인 박스 스타일 */
.main {
  min-height: 100vh;
  min-width: 50vw;
  padding-left: 10%;
  margin: auto;
  margin-top: 10%;
	margin-left: 10%;
  justify-content: center;
  padding-right: 3%;
}

/* main 박스 */
.main-box {
  border: 1px solid #bfbfbf;
  margin: auto;
  padding: 3%;
  min-height: 50vh;
  min-width: 50vw;
  margin-bottom: 15%;
}

.box {
  border: 1px solid #292929;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

/* 제목 스타일 */
.activities {
  font-size: 32px;
  text-shadow: 1px 1px #bfbfbf;
  margin-bottom: 20px;
  color: #292929;
}

/* 테이블 기본 스타일 */
table {
  width: 100%;
  border-collapse: collapse;
  max-width: 1000vw;
  table-layout: fixed; /* 고정된 테이블 레이아웃 */
}

/* 테이블 본문 하단에 구분선 추가 */
tbody tr {
  border-bottom: 1px solid #bfbfbf; /* 각 행 사이 구분선 */
}

/* 행 배경색을 번갈아 설정 */
tbody tr:nth-child(odd) {
  background-color: #bfbfbf;
}

tbody tr:nth-child(even) {
	background-color: #ffffff;
}

/* 열 간격 및 패딩 */
th, td {
  padding: 6px 8px;
  white-space: nowrap;
}

/* Flexbox로 각 열 정렬 */
thead tr, tbody tr {
  display: flex;
  justify-content: space-between;
}

th.left, td.left {
  text-align: left;
  flex: 1;
}

th.center, td.center {
  text-align: center;
  vertical-align: middle;
  flex: 1;
}

th.right, td.right {
  text-align: right;
  flex: 1;
}

/* 페이지네이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 5%; /* 위쪽 간격 */

}

.pagination a {
  text-decoration: none;
  color: #bfbfbf;
  padding: 6px 8px;
  font-size: 0.9rem;
  border: 1px solid #bfbfbf;
  background-color: #292929;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #bfbfbf;
  color: #292929;
}

.pagination a.active {
  background-color: #bfbfbf;
  color: #292929;
  border: 1px solid #bfbfbf;
}

.pagination ::marker{
  content: '';
}

/* 반응형 디자인 */
@media screen and (max-width: 768px) {

  .activities {
    font-size: 24px; /* 중간 크기의 화면에서 제목 크기 축소 */
  }

  table {
    width: 100%; /* 작은 화면에서 테이블이 화면 너비를 가득 채우도록 */
  }
  th, td {
    font-size: 12px; /* 화면이 작아질 때 글자 크기 축소 */
  }
}

@media screen and (max-width: 480px) {
  table {
    width: 100%;
  }
  th, td {
    font-size: 10px;
    padding: 6px 8px;
  }
}

/* 반응형 제목 크기 조절 */
@media screen and (max-width: 768px) {
  .activities {
    font-size: 24px; /* 중간 크기의 화면에서 제목 크기 축소 */
  }
}