@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}


input::placeholder {
	text-align: left;
	font-size: 15px;
}

.main {
	font-family: "MaruBuriSemiBold", Helvetica;
	min-height: 100vh;
	min-width: 50vw;
	padding-left: 20%;
	margin: auto;
	justify-content: center;
	/* border: 1px solid; */
	padding-right: 3%;
}

/* main 박스 */
.main-box {
	border: 5px solid;
	color: #bfbfbf;
	margin: auto;
	margin-top: 3%;
	min-height: 100hv;
	padding-right: 20%;
	padding: 3%;
}
.activities{
  color: black;
	font-size: 32px;
	font-family: "MaruBuriSemiBold", Helvetica;
	text-shadow: 10px #bfbfbf;
}