@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}
.main{
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: fixed;
}
.main .overlap-group {
  position: absolute;
  width: 1556px;
  height: 1920px;
  top: 225px;
  left: 300px;
}

/* 메인 박스 */
.main .main-box {
  display: flex;
  flex-direction: column;
  width: 1111px;
  height: 1203px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
  border: 5px solid;
  border-color: #d9d9d9;
}
/* 상단 mypage */
.main .main-my-page {
  position: fixed;
  top: 158px;
  left: 313px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

/* top 버튼 */
.main .top {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 1114px;
  left: 1074px;
  background-color: #00000040;
  border-radius: 100px;
  overflow: hidden;
}

.main .state-layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.main .tab-contents {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 14px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.main .label {
  position: relative;
  width: fit-content;
  font-family: var(--m3-title-small-font-family);
  font-weight: var(--m3-title-small-font-weight);
  color: var(--m3syslighton-surface-variant);
  font-size: var(--m3-title-small-font-size);
  text-align: center;
  letter-spacing: var(--m3-title-small-letter-spacing);
  line-height: var(--m3-title-small-line-height);
  white-space: nowrap;
  font-style: var(--m3-title-small-font-style);
}

input {
  width: 100%;
  padding: 10px 10px;
  font-size: 20px;
}

/* 이메일 */
.main .email {
  position: absolute;
  height: 20px;
  top: 58px;
  left: 50px;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}
.main .box {
  position: absolute;
  width: 1010px;
  height: 58px;
  top: 88px;
  left: 48px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

/* 이메일 확인 */
.main .email-ok {
  position: absolute;
  height: 20px;
  top: 168px;
  left: 50px;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}
.main .box-2 {
  position: absolute;
  width: 1010px;
  height: 58px;
  top: 198px;
  left: 48px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

/* 이름 */
.main .name {
  position: absolute;
  height: 20px;
  top: 278px;
  left: 50px;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}
.main .box-3 {
  position: absolute;
  width: 1010px;
  height: 58px;
  top: 308px;
  left: 48px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

/* 생년월일 */
.main .birth {
  position: absolute;
  height: 20px;
  top: 398px;
  left: 50px;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}
.main .box-4 {
  position: absolute;
  width: 1010px;
  height: 58px;
  top: 428px;
  left: 48px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

/* 전화번호 */
.main .tel {
  position: absolute;
  height: 20px;
  top: 508px;
  left: 50px;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}
.main .box-5 {
  position: absolute;
  width: 1010px;
  height: 58px;
  top: 538px;
  left: 48px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

/* 키 */
.main .hight {
  position: absolute;
  height: 20px;
  top: 618px;
  left: 50px;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}
/* 내부 cm */
.main .inHight {
  position: absolute;
  height: 20px;
  top: 666px;
  left: 996px;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}
.main .box-6 {
  position: absolute;
  width: 1010px;
  height: 58px;
  top: 648px;
  left: 48px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;

}

/* 몸무게 */
.main .weight {
  position: absolute;
  height: 20px;
  top: 728px;
  left: 50px;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}
/* 내부 몸무게 */
.main .inWeight {
  position: absolute;
  height: 20px;
  top: 776px;
  left: 1000px;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #757575;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}
.main .box-7 {
  position: absolute;
  width: 1010px;
  height: 58px;
  top: 758px;
  left: 48px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

/* 체형 */
.main .body {
  position: absolute;
  height: 20px;
  top: 838px;
  left: 50px;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}
.main .box-8 {
  position: absolute;
  width: 1010px;
  height: 58px;
  top: 868px;
  left: 48px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

/* 다이어트 */
.main .die {
  position: absolute;
  height: 20px;
  top: 958px;
  left: 50px;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}
.main .box-9 {
  position: absolute;
  width: 1010px;
  height: 58px;
  top: 988px;
  left: 48px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}


/* 수정 버튼 */
.main .inUpdate {
  position: absolute;
  height: 20px;
  top: 9px;
  left: 403px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "MaruBuriSemiBold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}

.main .update {
  position: absolute;
  width: 880px;
  height: 40px;
  top: 1108px;
  left: 100px;
  background-color:#d9d9d9;
  border: transparent;
}

.update:active{
  scale: (0.95);
  border: 2px inset #d9d9d9;
}
