/* 헤더 전체 스타일 설정 */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
  position: fixed; /* 화면 상단에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 헤더 아래에 그림자 추가 */
}

/* 메뉴 아이콘 스타일 */
.menu-icon {
  font-size: 1.5em;
  color: #333;
}

/* 로고 영역 스타일 */
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.logo {
  font-family: 'Volkhov', serif;
  font-size: 2.5em;
  color: #333;
}

/* 사이드 메뉴 스타일 (왼쪽에서 나오는 메뉴 설정) */
.side-menu {
  position: fixed;
  top: 0;
  left: -250px; /* 왼쪽에서 시작 */
  width: 250px;
  height: 100%;
  background: #f0f0f0;
  transition: left 0.3s; /* 메뉴가 열릴 때의 애니메이션 효과 */
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.side-menu.open {
  left: 0; /* 메뉴가 열리면 왼쪽 끝으로 나옴 */
}

/* 닫기 아이콘 스타일 */
.side-menu .close-icon {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

/* 네비게이션 리스트 스타일 */
.side-menu nav ul {
  list-style-type: none;
  padding: 0;
}

.side-menu nav ul li {
  padding: 15px;
}

/* 네비게이션 링크 스타일 */
.side-menu nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
}

/* 검색 바 영역 스타일 */
.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 20px;
  top: 50px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 9999px;
  padding: 5px 10px;
}

.search-input {
  border: none;
  outline: none;
  font-size: 16px;
  color: #757575;
}

.search-button,
.clear-button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #000;
}
