<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitory - 홈트레이닝 사이트</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <a th:href="@{/main}" class="background-link">
        <div class="container">
            <div class="header">
                <div class="logo-container">
                    <h1 class="logo">FITORY</h1>
                    <span class="subtitle">성공적인 다이어트를 위한</span>
                </div>
                <div class="nav">
                    <a th:href="@{/login}" class="nav-item">LogIn</a>
                    <a th:href="@{/cart}" class="nav-item">Cart</a>
                </div>
            </div>

            <div class="search-menu-container">
                <div class="search-bar">
                    <input type="text" placeholder="Search" class="search-input">
                    <button type="button" class="search-button"></button>
                    <button type="button" class="clear-button" style="display: none;">X</button>
                </div>
                <div class="menu">
                    <a th:href="@{/teacher}" class="menu-item">TEACHER</a>
                    <a th:href="@{/hometraining}" class="menu-item">HomeTraining</a>
                    <a th:href="@{/homegym}" class="menu-item">Home Gym</a>
                    <a th:href="@{/cart}" class="menu-item">CART</a>
                    <a th:href="@{/announcement}" class="menu-item">공지사항</a>
                </div>
            </div>
        </div>
    </a>

    <script src="/js/main.js"></script>
</body>
</html>
