<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitory - 홈트레이닝 사이트</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <a th:href="@{/main}" class="background-link">
        <div class="container">
            <div class="header">
                <div class="logo-container">
                    <h1 class="logo">FITORY</h1>
                    <span class="subtitle">성공적인 다이어트를 위한</span>
                </div>
            </div>

            <div class="search-menu-container">
                <div class="menu">
                    <a th:href="@{/trainer/trainer}" class="menu-item">Trainer</a>
                    <a th:href="@{/board/2}" class="menu-item">Home Training</a>
                    <a th:href="@{/board/3}" class="menu-item">Home Gym</a>
                </div>
            </div>
        </div>
    </a>

    <script src="/js/main.js"></script>
</body>
</html>
