<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 변경</title>
</head>
<body>
  

  <div class="div">
        
        <label for="memberPw">
          *<span class="required">비밀번호</span>
        </label>
        <div class="signUp-input-area">
          <input type="password" name="memberPw" id="pw"
          placeholder="비밀번호 입력" maxlength="30" autocomplete="off">
        </div>
        <span class="pwMessage" id="pwMessage">영어,숫자,특수문자 1글자 이상, 6~20자 사이.</span>
  
        <label for="PwCheck">
         *<span class="required">비밀번호 확인</span>
        </label>
        <div class="signUp-input-area">
          <input type="password" name="pwCheck" id="pwCheck"
          placeholder="비밀번호를 확인해주세요" maxlength="30" autocomplete="off">
        </div>
        
        
  </div>

</body>
</html>