<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitory - 로그인</title>
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <link th:href="@{/css/common/header.css}" rel="stylesheet">
    <link th:href="@{/css/common/footer.css}" rel="stylesheet">
</head>
<body>
    <!-- header fragment include -->
    <div th:replace="common/header :: header"></div>

    <div class="container">
        <div class="login-container">
            <h2>로그인</h2>
            <div class="login-options">
                <input type="radio" id="member" name="loginType" value="member" checked>
                <label for="member" class="login-option">회원 로그인</label>
                <input type="radio" id="trainer" name="loginType" value="trainer">
                <label for="trainer" class="login-option">강사 로그인</label>
            </div>

            <form action="/login" method="post" id="login-form">
                <div class="input-group">
                    <label for="email">아이디(Email)</label>
                    <input type="text" id="memberEmail" name="memberEmail" placeholder="아이디">
                </div>

                <div class="input-group">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" placeholder="비밀번호">
                </div>

                <button class="login-button">로그인</button>
            </form>

            <div class="login-footer">
                <a href="/signUp">회원가입</a> |
                <a href="/find-id">ID 찾기</a> |
                <a href="/find-password">비밀번호 찾기</a>
            </div>
        </div>
    </div>

    <!-- footer fragment include -->
    <div th:replace="common/footer :: footer"></div>

    <script src="/js/login/login.js"></script>
</body>
</html>