<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FITORY 회원가입 페이지</title>

  <th:block th:replace="~{common/common}"></th:block>

  <link rel="stylesheet" href="/css/signUp/signUp-style.css">
</head>
<body>
  <!-- 헤더 조각 -->
   <!-- <th:block th:replace="~{common/header}"></th:block> -->

  <main>
    <div class="signUp-container">
      <section class="signUp">
        <h2>회원가입</h2>

        <form action="signUp" method="post" name="signUpForm" id="signUpForm">
          <div class="signUp-options">
            <input type="radio" id="member" name="signUpType" value="member" checked>
            <label for="member" class="signUp-option">일반 회원가입</label>
            <input type="radio" id="trainer" name="signUpType" value="trainer">
            <label for="trainer" class="signUp-option">강사 회원가입</label>
          </div>
    
          <div class="signUp-content">
            <label for="memberEmail">
              <span class="required">아이디(Email)</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="memberEmail" id="memberEmail"
              placeholder="이메일을 입력해주세요" maxlength="30" autocomplete="off">
              <button id="sendAuthKeyBtn" type="button">인증번호 받기</button>
            </div>
      
            <label for="emailCheck">
              <span class="required">이메일 인증</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="authKey" id="authKey"
              placeholder="이메일 인증 확인" maxlength="6" autocomplete="off">
              <button id="checkAuthKeyBtn" type="button">인증하기</button>
            </div>
            
            <span class="signUp-message" id="authKeyMessage"></span>
      
            <label for="memberName">
              <span class="required">이름</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="memberName" id="memberName"
              placeholder="이름 입력" maxlength="6" autocomplete="off">
            </div>
      
            <label for="memberPw">
              <span class="required">비밀번호</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="memberPw" id="memberPw"
              placeholder="비밀번호 입력" maxlength="30" autocomplete="off">
            </div>
      
            <label for="PwCheck">
              <span class="required">비밀번호 확인</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="PwCheck" id="PwCheck"
              placeholder="비밀번호를 확인해주세요" maxlength="30" autocomplete="off">
            </div>
      
            <label for="memberBirthday">
              <span class="required">생일</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="memberBirthday" id="memberBirthday"
              placeholder="YYYYMMDD" maxlength="8" autocomplete="off">
            </div>
      
            <label for="memberTel">
              <span class="required">전화번호</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="memberTel" id="memberTel"
              placeholder=" '-' 빼고 숫자만 입력" maxlength="11" autocomplete="off">
              <button id="telAuthKeyBtn" type="button">인증하기</button>
            </div>      
      
            <label for="memberTel">
              <span class="required">전화번호 인증확인</span>
            </label>
            <div class="signUp-input-area">
              <input type="text" name="authKey" id="authKey"
              placeholder="인증번호를 입력해주세요" maxlength="6" autocomplete="off">
              <button id="telAuthKeyBtn" type="button">인증하기</button>
            </div>  
      
            <label for="memberTel">
              <span class="required"><약관></span>
              <div class="provision">약관내용</div> 
            </label>
            
            <div class="checkbox-container">
               <input type="checkbox" id="agreeBtn" name="agreeBtn"></input>
               <label for="checkbox">위의 내용에 동의 합니다</label>
            </div> 
            
            <button id="signUpBtn">가입하기</button>
          </div>
        </form>
      </section>
    </div>
  </main>

  <!-- 푸터 조각 -->
  <!-- <th:block th:replace="~{common/footer}"></th:block> -->
  
  <script src="/js/signUp/signUp.js"></script>
</body>
</html>