<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <script th:inline="javascript">
    const classNo = /*[[${classNo}]]*/ null; // 강의명
    const orderMemberNo = /*[[${session.memberLogin.memberNo}]]*/ null; // 주문자 번호

    const className = /*[[${className}]]*/ null; // 강의명
    const classAmount = /*[[${classAmount}]]*/ 0; // 가격
    const orderNo = /*[[${orderNo}]]*/ null; // 주문번호
    const paymentName = /*[[${session.memberLogin.memberName}]]*/ null; // 주문자명
  </script>

  <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
  <script>
    console.log("결제")


    async function requestPay() {
      try {
        const response = await fetch("/payment/request-payment", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          }
        });

        const data = await response.json();

        console.log(data);

        const resp = await PortOne.requestPayment({
          storeId: data.storeId,
          paymentId: orderNo,
          orderName: className,
          totalAmount: classAmount,
          currency: "KRW",
          channelKey: data.channelKey,
          payMethod: "EASY_PAY",
          easyPay: {
            easyPayProvider: "KAKAOPAY",
            useFreeInterestFromMall: false,
          },
          customer: {
            fullName: paymentName,
          }
        });


        console.log(resp);


        if (resp.code === 'FAILURE_TYPE_PG') {
          console.error("결제 실패:", response);
          alert("결제에 실패했습니다. 다시 시도해 주세요.");
          location.href = location.pathname; // GET
        } else {
          console.log("결제 성공", response);
          alert("결제가 성공적으로 완료되었습니다!");
          // 주문 정보 insert (ajax) -> 성공 시 주문 결과 페이지로 location.href
          
          // 주문 정보 insert(ajax)
          const orderResponse = await fetch("/order/success", {
            method : "POST",
            headers : {
              "Content-Type" : "application/json"
            },
            body : JSON.stringify({
              orderNo : orderNo,
              orderClassNo: classNo,
              orderClassAmount: classAmount,
              orderCurrency: "KRW",
              orderMemberNo: orderMemberNo
            })
          });

          const orderData = await orderResponse.json();
          console.log(orderData);
          if (orderData.success) {
            // 주문 결과 페이지로 이동
            location.href = orderData.redirectUrl;
          } else {
            console.error("주문 정보 저장 실패:", orderData);
            alert("주문 정보를 저장하는 데 실패했습니다. 다시 시도해 주세요.");
          }

        }


      } catch (error) {
        console.error('결제 준비 중 오류 발생:', error);
      }
    }
    
    // 페이지 로드 후 결제 요청
    document.addEventListener("DOMContentLoaded", () => {
      requestPay();
    });
  </script>
</body>

</html>