<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment Page</title>
  <link rel="stylesheet" href="../../static/css/payment/payment.css">
</head>

<body>
     <!-- common 조각 삽입(header 포함) -->
  <th:block th:replace="~{common/common}"></th:block>
  
  <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
  
  <button onclick="requestPay()">결제하기</button>
  
  <script>
  function requestPay() {
    PortOne.requestPayment({
      storeId: "store-ba2da415-5565-47a5-a9fc-9b9cddb04d32",
      paymentId: "testm2k9975q",
      orderName: "고현우",
      totalAmount: 100,
      currency: "KRW",
      channelKey: "channel-key-f6cb3945-2949-4400-994b-c6315da5140b",
      payMethod: "EASY_PAY",
      easyPay: {
        easyPayProvider: "KAKAOPAY",
        useFreeInterestFromMall: false,
      },
      customer: {
        fullName: "테스트",
      },
    });
  }
  </script>



  <form action="/orderNo" method="GET">

    
  </form>

  <!-- 푸터 조각 삽입 -->
  <footer th:replace="~{common/footer :: footer}"></footer>

</body>

</html>