<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/common}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문서 작성 페이지</title>
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
    <script src="../../static/css/payment/payment.css"></script>
</head>
<body>
    <script>

        function requestPay() {
            PortOne.requestPayment({
                storeId: "store-ba2da415-5565-47a5-a9fc-9b9cddb04d32",
                paymentId: "testm2k9975q",
                orderName: orderName,
                totalAmount: totalAmount,
                currency: "KRW",
                channelKey: "channel-key-f6cb3945-2949-4400-994b-c6315da5140b",
                payMethod: "EASY_PAY",
                easyPay: {
                    easyPayProvider: "KAKAOPAY",
                    useFreeInterestFromMall: false,
                },
                customer: {
                    fullName: customerName
                },
            });
        }
    </script>


</body>
</html>
