@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}
* {
  font-family: "MaruBuriSemiBold", Helvetica;
}

.main {
	min-height: 100vh;
	min-width: 50vw;
	padding-left: 20%;
	margin: auto;
	justify-content: center;
	/* border: 1px solid; */
	padding-right: 3%;
}

/* main 박스 */
.main-box {
	border: 5px solid;
	color: #bfbfbf;
	margin: auto;
	padding-top: 2%;
	min-height: 100vh;
	padding-right: 10%;
	padding: 3%;
	min-width: 50vw;
}

.main-title{
	color:  #525252;
	font-size: 32px;
	text-shadow: 10px #bfbfbf;
  text-align: center;
}

.box {
  border: 1px solid;
  color: #bfbfbf;
  justify-content: center;
  display: flex;
  margin: 2% 0% 2%;
  padding: 5px;
  width: 100%;
}