@font-face {
	font-family: 'MaruBuriSemiBold';
	src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
	src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}

*{
	font-family: "MaruBuriSemiBold", Helvetica;
}

input::placeholder {
	text-align: left;
	font-size: 15px;
}

/* 메인 타이틀 */
.main-title {
	color: #2d2d2d;
	font-size: 32px;
	text-shadow: 10px #434343;
	padding-top: 20%;
	padding-bottom: 2%;
	text-align: center;
}

.main {
	min-height: 200vh;
	min-width: 50vw;
	margin-top: 3%;
	justify-content: center;
	/* border: 1px solid; */
	padding: 0% 5% 0% 5%;
	margin-bottom: 10%;
}

/* main 박스 */
.main-box{
	border: 5px solid;
	color: #bfbfbf;
	margin: auto;
	padding-top: 2%;
	min-height: 200vh;
	padding: 3%;
	min-width: 50vw;
}

/* 트레이너 이미지 */
.profile-box{
	border: 2px solid;
	color: #bfbfbf;
	min-height: 30vh;
}
.profile-image{
	color: #bfbfbf;
	min-height: 30vh;
	min-width: 80vw;
	margin: auto;
	justify-content: center;
	align-items: center; 
	display: flex;

}

.subProfile-box{
	border: 2px solid;
	color: #bfbfbf;
	min-height: 25vh;
	justify-content: space-between;
	align-items: center;
	display: flex;
	padding: 3% 0% 3% 0%;
}
.subProfile-image{
	border: 2px solid;
	color: #bfbfbf;
	min-height: 20vh;
	padding: 3% 14.5%;
	justify-content: space-between;
	align-items: center;
	justify-content: center;
}

/* 프로필 사진 수정 버튼 */
.watch {
	color: rgb(255, 255, 255);
	background-color: #bfbfbf;
	padding: 0.8% 1%;
	margin: 4% 2% 4% 0%;
	justify-content: center;
	text-align: center;
	width: 30%;
  float: right;
  border-radius: 20px 20px 20px 20px;
}
.watch:hover {
	color: #757575;
}

/* 자격 테이블 */
.qualification-table {
	border: 1px #2d2d2d;
	width: 100%;
	padding: 2%;
	height: 5%;
	width: 100%;
}
.qualification-table td:first-child{
	width: 80%;
	padding: 0% 1% 1% 0%;
	margin-bottom: 3%;
	float: left;
}
.qualification-table td:last-child{
	width: 20%;
	padding: 0% 1% 1% 0%;
	margin-bottom: 3%;
	float: right;
}

.qualification-table tr>th {
	color: #bfbfbf;
	display: column;
	padding-top: 2%;
	font-size: 16px;
	text-align: left;
}


/* 탑버튼 */
/* .top {
	color: rgb(255, 255, 255);
	background-color: #bfbfbf;
	padding: 1%;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	position: sticky;
	float: right;
} */

.top:hover {
	color: #757575;
}

/* 페이지네이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; /* 페이지 버튼 간 간격을 줄임 */
  margin-top: 2%; /* 페이지네이션과 콘텐츠 사이의 간격 */
  font-size: 15px;
  padding: 8% 0% 0% 0%;
}

.pagination a {
  text-decoration: none;
  color: #bfbfbf;
  padding: 10%; 
}