@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}
* {
	font-family: 'MaruBuriSemiBold';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

input::placeholder {
	text-align: left;
	font-size: 15px;
}

.class-section {
	min-height: 100vh;
	min-width: 50vw;
	padding-left: 10%;
	margin: auto;
	margin-top: 10%;
	margin-left: 10%;
	justify-content: center;
	padding-right: 3%;
  
}

/* 제목 */
.class-section h1 {
	color: #292929;
	font-size: 32px;
	text-shadow: 1px #bfbfbf;
	margin-bottom: 20px;
}

/* 메인 박스 */
.slider-container {
	border: 1px solid #bfbfbf;
	margin: auto;
	padding: 3%;
	min-height: 100vh;
	min-width: 50vw;
}

.sort-dropdown {
  float: right;
}

.sort-dropdown select {
  padding: 5px;
  border-radius: 4px;
}

.section-divider {
  border: none;
  border-top: 2px solid #eee;
  margin: 20px 0;
}

.table-container {
  width:100%;
  overflow-x: auto;
  margin-top: 20px;
}

#classList{
  width:100%
}

/* 영상 이미지 */
.box>tbody>tr>th:first-child {
	width: 20%;
	padding-right: 10px;
}

thead>tr>th {
	width: 20%;
	padding-right: 10px;
}

thead>tr>th:first-child img {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
	/* 16:9 비율 유지 */
	object-fit: cover;
	/* 이미지가 박스에 꽉 차도록 설정 */
	max-height: 150px;
	/* 최대 높이 설정 */
	border-radius: 5px;
	/* 모서리 둥글게 설정 (선택 사항) */
}


thead>tr>th:last-child {
	width: 10%;
	text-align: center;
}

/* 페이지네이션 스타일 */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 5%; /* 위쪽 간격 */
}

.pagination a {
  text-decoration: none;
  color: #bfbfbf;
  padding: 6px 8px;
  font-size: 0.9rem;
  border: 1px solid #bfbfbf;
  background-color: #292929;
  border-radius: 5px;
}

.pagination a:hover {
  background-color: #bfbfbf;
  color: #292929;
}

.pagination a.active {
  background-color: #bfbfbf;
  color: #292929;
  border: 1px solid #bfbfbf;
}

.pagination ::marker{
  content: '';
}

/* 새 글 작성 버튼 */
#boardWirteBtn {
  background-color: #bfbfbf;
  color: #292929;
  padding: 5px 10px;
  width: 20%;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
	margin-top: 3%;
}