@font-face {
  font-family: 'MaruBuriSemiBold';
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
  src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
}
/* 기본적인 스타일 */
/* 기본 스타일 (화면이 큰 경우) */
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-size: 16px; /* 기본 폰트 크기 */
}

/* 메인 콘텐츠 패딩 및 정렬 */
main {
  padding: 120px 20px; /* 메인 콘텐츠의 내부 여백 설정 (위아래 40px, 좌우 20px) */
  text-align: left; /* 텍스트 및 콘텐츠를 중앙 정렬 */
}

/* 페이지 제목 스타일 */
h1 {
  font-size: 2.5rem; /* 페이지 제목 글자 크기 설정 */
  margin-bottom: 10px; /* 제목 아래쪽에 30px 간격 추가 */
}

/* 섹션 제목 스타일 */
h2 {
  font-size: 1.6rem; /* 섹션 제목 글자 크기 설정 */
  margin-bottom: 10px; /* 섹션 제목 아래쪽에 10px 간격 추가 */
  text-align: left; /* 섹션 제목을 왼쪽 정렬 */
  padding-left: 20px; /* 제목의 왼쪽에 20px의 패딩 추가 */
}

/* 슬라이더 컨테이너 */
.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 슬라이더를 가운데 정렬 */
  position: relative;
  height: 350px; /* 슬라이더 높이 설정 */
}

/* 각 클래스 섹션을 감싸는 스타일 */
.class-section {
  border: 10px solid #ddd; /* 섹션 전체를 감싸는 테두리 추가 */
  border-radius: 10px; /* 테두리의 모서리를 둥글게 */
  padding: 20px; /* 섹션 내부 여백 설정 */
  margin-bottom: 40px; /* 섹션들 사이의 간격 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 살짝 그림자 효과 추가 */
}

.content-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}


table{
  width: 90%;
}

#selectBtn{
  display: flex;
  align-items: center;
  justify-content: center; /* 버튼 가운데 정렬 */
  position: relative;
}
.main-class {
	color: #292929;
	font-size: 32px;
	font-family: "MaruBuriSemiBold", Helvetica;
	text-shadow: 10px #bfbfbf;
}

.box {
  border: 1px solid;
  color:#292929;
  font-family: "MaruBuriSemiBold", Helvetica;
  justify-content: center;
  display: flex;
  margin: 2% 0% 2%;
  padding: 5px;
  width: 100%;
}

#selectType{
	color: #292929;
	font-size: 14px;
	font-family: "MaruBuriSemiBold", Helvetica;
	text-shadow: 10px #bfbfbf;
	float: right;
	padding-bottom: 5%;
	margin-bottom: 30%;
}

#checkbox{
	float: right;
  display: flex;
}

.select{
	color: #292929;
	font-size: 14px;
	font-family: "MaruBuriSemiBold", Helvetica;
	text-shadow: 10px #bfbfbf;
  /* float: right; */
}

.pagination-area{
  display: flex;
  align-items: center;
  justify-content: center;
}