<!--  --><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내 강의 목록</title>

  <link rel="stylesheet" href="/css/board/classList.css">
</head>
<body>
  <!-- header fragment include -->
  <block th:replace="~{common/common}"></block>

  <!-- 메인 콘텐츠 -->
  <main>
    <div class="main-class">강의 목록</div>
    <div class="container">
      <select name="select" id="selectType">
        <option value="recent">최신순</option>
        <option value="populer">인기순</option>
        <option value="review">리뷰순</option>
      </select>
    </div>


    <section class="class-section">
      <div class="slider-container">
        <div class="content-container">


        <table>
          <thead  id="classList">
            <tr>
              <th>thumbnail</th>  
              <th>
                <div>제목</div>
                <div>내용</div>
                <div>강사이름</div>
              </th>  
              <th>
                checkbox
              </th>  
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <button id="selectAllBtn">전체 선택</button>
                <button id="selectDeleteBtn">선택 전체 삭제</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>

      <div class="pagination-area" >
        <ul class="pagination">
        
           
        </ul>
      </div>
    </section>

    <div>
      <button id="boardWirteBtn">새글 작성</button>
    </div>

  </main>




  <!-- footer fragment include -->
  <div th:replace="~{common/footer}"></div> <!-- 공통 푸터 -->

  <script th:inline="javascript">
      const pagination = /*[[${pagination}]]*/ "페이지네이션객체";
  </script>
  <script src="/js/classList/trainerClassList.js"></script>
  
</body>
</html>