<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>내 강의 목록</title>
  <link rel="stylesheet" href="../../static/css/classList/memberClassList.css">
  <style>
    @font-face {
      font-family: 'MaruBuriSemiBold';
      src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot);
      src: url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff2) format("woff2"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/MaruBuri/MaruBuri-SemiBold.ttf) format("truetype");
    }
  </style>
</head>

<body>
  <main>
    <main>
      <div id="temp1"></div>
      <div id="temp2"></div>
      <!-- <th:block th:replace="~{myPage/myPageHeader}"></th:block>
      <th:block th:replace="~{myPage/side}"></th:block> -->
    </main>
  </main>

  <div class="main">
    <div class="main-class">강의 목록</div>
    <div class="container">
      <select name="select" id="selectType">
        <option value="recent">최신순</option>
        <option value="populer">인기순</option>
        <option value="review">리뷰순</option>
      </select>
    </div>
    <input type="checkbox" id="checkbox" class="all-check-box">
    <div class="select">모두 선택</div>
      <div class="main-box">
        <table class="box">
          <tbody>
            <tbody>
              <!-- 게시글 리스트를 반복하여 출력 -->
              <tr th:each="post : ${posts}">
              <img th:if="${post .thumbnail}" th:src="${post.thumbnail}" class="list-thumbnail" alt="썸네일">
              <td th:text="${boardTitle}">제목</td>
              <td th:text="${boardContent}">설명</td>
              <td th:text="${trainerNickname}">강사</td>
              <td th:text=" ${boardCategory}">카테고리</td>
              <td><input type="checkbox" class="checkbox"></td>
            </tr>
              <tr th:each="post : ${posts}">
              <img th:if="${post .thumbnail}" th:src="${post.thumbnail}" class="list-thumbnail" alt="썸네일">
              <td th:text="${boardTitle}">제목</td>
              <td th:text="${boardContent}">설명</td>
              <td th:text="${trainerNickname}">강사</td>
              <td th:text=" ${boardCategory}">카테고리</td>
              <td><input type="checkbox" class="checkbox"></td>
            </tr>
              <tr th:each="post : ${posts}">
              <img th:if="${post .thumbnail}" th:src="${post.thumbnail}" class="list-thumbnail" alt="썸네일">
              <td th:text="${boardTitle}">제목</td>
              <td th:text="${boardContent}">설명</td>
              <td th:text="${trainerNickname}">강사</td>
              <td th:text=" ${boardCategory}">카테고리</td>
              <td><input type="checkbox" class="checkbox"></td>
            </tr>
            </tr>
              <tr th:each="post : ${posts}">
              <img th:if="${post .thumbnail}" th:src="${post.thumbnail}" class="list-thumbnail" alt="썸네일">
              <td th:text="${boardTitle}">제목</td>
              <td th:text="${boardContent}">설명</td>
              <td th:text="${trainerNickname}">강사</td>
              <td th:text=" ${boardCategory}">카테고리</td>
              <td><input type="checkbox" class="checkbox"></td>
            </tr>
          </tbody>
        </table>
            <button class="update" th:if="${session.trainerLongin}" id="updateBtn">선택한 강의 수정</button>
            <button class="delete" th:if="${session.trainerLogin}" id="deleteBtn">선택한 강의 삭제</button>

            <!-- 페이지 -->
            <div class="pagination">
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#">6</a>
              <a href="#">7</a>
              <a href="#">8</a>
              <a href="#">9</a>
              <a href="#">10</a>
          </div>
        </div>
        <!-- 탑버튼 -->
        <button class="top">▲</button>
        </div>
      </div>
    </div>
  </div>
    <div id="temp3"></div>
  </div>

  <script>
    function loadFromHtml(path, selector) {
      fetch(path)
        .then(resp => resp.text())
        .then(result => {
          selector.outerHTML = result;
        })
    }
    /* header */
    const temp1 = document.querySelector("#temp1");
    loadFromHtml("../common/trainerHeader.html", temp1);
    /* side */
    const temp2 = document.querySelector("#temp2");
    loadFromHtml("../common/trainerSideBar.html", temp2);
    /* footer */
    const temp3 = document.querySelector("#temp3");
    loadFromHtml("../common/footer.html", temp3);
  </script>
</body>


</html>